body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #2c2e2f;
  color: #ffffff; }
  body .jumbotron {
    background-color: transparent; }





body {
  text-align: left; }

form .form-row {
  margin: 10px auto;
  padding: 0; }
  form .form-row textarea {
    height: 200px; }
  form .form-row .btn {
    display: block;
    margin: auto;
    margin-right: 0; }
