



<section id="next-match">

  <div class="container-fluid">
<div class="row">


<div class="col-md-12 home-team-name">

  <h1 class="mt-5 mb-1 text-center">NEXT MATCH</h1>
    <p class="mb-4 text-center">Semi-Final First Leg</p>
    <hr class="col-md-4 mb-4">

  <span class="col-md-4 offset-md-2">
  <span class="pr-3">real madrid</span><img src="../assets/img/realmadrid.png" width="80" height="80"/>
  </span>
  
  <span class="col-md-4 offset-md-left">
  <img src="../assets/img/bayernmunich.png" width="80" height="80"/><span class="pl-3">bayern munich</span>
  </span>

      <hr class="col-md-4 mt-4">


  <p class="mt-4 mb-0 text-center">Bernabeau Stadium</p>
  <h1 class="text-center mb-5">19:45</h1>
  
  
  </div>
</div>


  </div>
  </section>



  <section id="social-media" class="bg-img">
    <div class="container-fluid">
      
  <div class="col-md-12">
          <h1 class="text-center pt-5">follow the champions leauge on social media</h1>

<div class="row mt-5">

    <div class="col-md-3 offset-md-2">
    <a class="twitter-timeline" data-height="600" data-theme="light" href="https://twitter.com/ChampionsLeague">Tweets by ChampionsLeague</a> 
    </div>

<div class="col-md-3 offset-md-2">

<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fuefachampionsleague%2F%3Ffref%3Dts&tabs=timeline&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

</div>
</div>

</div>
  </div>

  </section>
  






