<section *ngIf="news?.length > 0" id="ticker" >

  <div id="ticker_row" class="row no-margin">

    <div class="left_gradient"></div>

    <div class="col-md-1 sslogo no-padding">

        <div class="sslogo-inner text-center">

          <img src="assets/img/skySportsLogo.jpg" height="65px;">

        </div>

    </div>

    <div class="col-md-11 no-padding">

      <div class="ticker-container">

        <div class="mask">

            <ul id="webticker">

                <li *ngFor="let item of news">

                  <a href="{{item[3]}}" target="_blank">
                    <i class="fa fa-newspaper-o"></i> {{item[1]}} <span class="space"></span>
                  </a>

                </li>
           
            </ul>

            <span class="tickeroverlay-left">&nbsp;</span>

            <span class="tickeroverlay-right">&nbsp;</span>

        </div>

      </div>

    </div>

    <div class="right_gradient"></div>

  </div>

  <div class="ticker-click">

    <div class="ticker-click-inner text-center">

     <i class="fa fa-hand-o-up" aria-hidden="true"></i> Click to read more of our news stories

    </div>

  </div>

</section>

<section id="next-match">

    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">

          <h1 class="mt-5 mb-1 text-center">NEXT MATCH</h1>

          <p class="mb-4 text-center">Semi-Final First Leg</p>

          <hr class="col-md-4 mb-4">

        </div>

        <div class="col-md-5 home-team-name">

          <div class="row">

            <div class="col-md-9 text-right">real madrid</div>

            <div class="col-md-3 text-right">

              <img src="../assets/img/realmadrid.png" width="80" height="80"/>

            </div>

          </div>

        </div>

        <div class="col-md-2 home-team-name text-center">

          vs

        </div>

        <div class="col-md-5 home-team-name">

          <div class="row">

            <div class="col-md-3 text-left">

              <img src="../assets/img/bayernmunich.png" width="80" height="80"/>

            </div>

            <div class="col-md-9 text-left">bayern munich</div>

          </div>

        </div>

        <div class="col-md-12">

            <hr class="col-md-4 mt-4">

            <p class="mt-4 mb-0 text-center">Bernabeau Stadium</p>

            <h1 class="text-center mb-5">19:45</h1>

        </div>

      </div> <!-- row -->

    </div> <!-- container-fluid -->
  
</section> <!-- section -->

<section id="social-media" class="bg-img">

  <div class="container-fluid">
      
    <div class="col-md-12">

      <h1 class="text-center pt-5">follow the champions leauge on social media</h1>

      <div class="row mt-5">

          <div class="col-md-3 offset-md-2">

          <a class="twitter-timeline" data-height="600" data-theme="light" href="https://twitter.com/ChampionsLeague">Tweets by ChampionsLeague</a> 

        </div>

        <div class="col-md-3 offset-md-2">

          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fuefachampionsleague%2F%3Ffref%3Dts&tabs=timeline&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

        </div>

      </div> <!-- mt-5 -->

    </div> <!-- col-md-12 -->

  </div> <!-- container-fluid-->

</section> <!-- section -->