<footer class="mt-5">
<div class="container">


  <div class="links row">
    <div class="links-inner col-md-12">

      <ul class="text-center">
          <li><a href="https://www.facebook.com/uefachampionsleague/"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/ChampionsLeague"><i class="fa fa-twitter "></i></a></li>
          <li><a href="https://www.instagram.com/uefachampionsleague/?hl=en"><i class="fa fa-instagram "></i></a></li>
          <li><a routerLink="/admin">admin</a></li>
      </ul>

    </div>
   </div>
  </div>
</footer>

