<div class="row">

	<div class="col-md-12 admin-header-top">

		<div class="row">

			<div class="col-md-6">

				<h3><i class="fa fa-futbol-o" aria-hidden="true"></i> Leicester City</h3>

			</div>

			<div class="col-md-6">

				<a href="../home" class="btn btn-primary pull-right">Home</a>

			</div>

		</div>

	</div>

	<div class="col-md-12">

		<div *ngIf="teams.team?.length > 0" class="row">

			<div class="col-md-12">

				<select (change)="getTeamData($event.target.value)" class="form-control" id="team_select">
					<option value="">Please Select a Team...</option>
					<option *ngFor="let team of teams.team" value="{{team.id}}">{{team.name}}</option>

				</select>

			</div>

	</div>

</div>