<div class="row dark-turq-bg">

	<div class="col-md-12">

		<div *ngIf="teams.team?.length > 0" class="row">

			<div class="col-md-12">

				<select (change)="getTeamData($event.target.value)" class="form-control" id="team_select">
					<option value="">Please Select a Team...</option>
					<option *ngFor="let team of teams.team" value="{{team.id}}">{{team.name}}</option>

				</select>

			</div>

		</div>

	</div>

</div>

<div class="container light-bg">

<div *ngIf="team?.length > 0" class="row mt-3 pt-3 pb-3">

	<div class="col-md-12">

		<h3>Team Details</h3>
		<p>Use the form below to edit the team details</p>

		<form [formGroup]="team_form" (ngSubmit)="editTeam($event)" id="team_form">

			<input formControlName="id" id="theId" type="hidden" name="id" value="{{team[0].id}}"/>

			<div class="form-group">

				<label>Team Name</label>
				<input formControlName="name" id="team_name" type="text" class="form-control" name="name" value="{{team[0].name}}" />

			</div>

			<div class="form-group">

				<label>Mascot Name</label>
				<input formControlName="mascot" id="team_mascot" type="text" class="form-control" name="mascot" value="{{team[0].mascot}}" />

			</div>

			<div class="form-group">

				<label>Description</label>
				<textarea formControlName="description" id="team_desc" name="description" rows="7" class="form-control" value="{{team[0].description}}"></textarea>

			</div>

			<div class="form-group">

				<button type="Submit" class="btn btn-primary pull-right">Submit</button>

			</div>

		</form>

	</div>

</div>

</div>