

<!--TIMELINE-->

<div class="container-fluid mt-5">

	<div id="timeline" class="">

		<div class="timeline_inner row">

			<div class="timeline_line"></div>

			<div class="timeline_1 timeline_section col-md-2 offset-md-1 no-padding">

				<p class="stage_name">Group Stage</p>

				<a routerLink="/tournament/group-stage"><div class="timeline_circle">

				</div></a>

			</div>

			<div class="timeline_2 timeline_section col-md-2 no-padding">

				<p class="stage_name">Last 16</p>

				<a routerLink="/tournament/last-sixteen"><div class="timeline_circle on">

				</div></a>

			</div>

			<div class="timeline_3 timeline_section col-md-2 no-padding">

				<p class="stage_name">Quarter Finals</p>

				<a routerLink="/tournament/quarter-final"><div class="timeline_circle">

				</div></a>

			</div>

			<div class="timeline_4 timeline_section col-md-2 no-padding">

				<p class="stage_name">Semi Final</p>

				<a routerLink="/tournament/semi-final"><div class="timeline_circle">

				</div></a>

			</div>

			<div class="timeline_5 timeline_section col-md-2 no-padding">

				<p class="stage_name">Final</p>

				<a routerLink="/tournament/final"><div class="timeline_circle">

				</div></a>

			</div>

		</div>

	</div>

</div>

<!--TIMELINE END-->

<section id="matches" >

	<h3 class="text-center">Last Sixteen Results</h3>

	<p class="text-center pb-5">Click on a match to find out more</p>

	<div class="col-md-10 offset-md-1">

		<!-- MATCH 1 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/benfica.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					benfica
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					1
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					0
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					borussia dortmund
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/borussiadortmund.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

					<p> Mitroglou - 48 <i class="fa fa-futbol-o"></i></p>
					<p>Fejsa - 63 <i class="fa fa-square" style="color:yellow;"></i></p>



				</div>

				<div class="col-md-2 text-center">
					<b>First Leg</b>
					<b>19:45</b>
					<b>14/02/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>Nicola Rizzoli</b>
					<h4 class="mt-3">Venue</h4>
					<b>Estádio do Sport Lisboa</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

						<p><i class="fa fa-square" style="color:yellow;"></i> Schmelzer - 74</p>
						<p><i class="fa fa-square" style="color:yellow;"></i> Pulišić - 85</p>
						<p><i class="fa fa-square" style="color:yellow;"></i> Bartra - 90</p>


				</div>


			</div>

		</div>




		<!-- MATCH 2 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/parisstgermain.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					paris saint-germain
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					4
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					0
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					barcelona
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/barcelona.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

					<p>Rabiot - 3 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Di Maria - 18 <i class="fa fa-futbol-o"></i> </p>
					<p>Draxler - 40 <i class="fa fa-futbol-o"></i> </p>
					<p>Di Maria - 55 <i class="fa fa-futbol-o"></i></p>
					<p>Cavani - 72 <i class="fa fa-futbol-o"></i></p>



				</div>

				<div class="col-md-2 text-center">
					<b>First Leg</b>
					<b>19:45</b>
					<b>14/02/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>Szymon Marciniak</b>
					<h4 class="mt-3">Venue</h4>
					<b>Parc des Princes</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

					<p><i class="fa fa-square" style="color:yellow;"></i> Gomes - 33</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Busquets - 62</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Rafinha - 74</p>


				</div>


			</div>

		</div>

		<!-- MATCH 3 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/bayernmunich.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					bayern munich
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					5
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					1
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					arsenal
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/arsenal.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

					<p>Robben - 11 <i class="fa fa-futbol-o"></i></p>
					<p>Hummels - 26 <i class="fa fa-square" style="color:yellow;"></i> </p>
					<p>Lewandowski - 53 <i class="fa fa-futbol-o"></i></p>
					<p>Thiago - 56 <i class="fa fa-futbol-o"></i></p>
					<p>Thiago - 63 <i class="fa fa-futbol-o"></i></p>
					<p>Lahm - 83 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Muller - 88 <i class="fa fa-futbol-o"></i></p>



				</div>

				<div class="col-md-2 text-center">
					<b>First Leg</b>
					<b>19:45</b>
					<b>15/02/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>Milorad Mažić</b>
					<h4 class="mt-3">Venue</h4>
					<b>Allianz Arena</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

					<p><i class="fa fa-square" style="color:yellow;"></i> Mustafi - 15</p>
					<p><i class="fa fa-futbol-o"></i> Sanches - 30</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Ozil - 33</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Xhaka - 60</p>


				</div>


			</div>

		</div>

		<!-- MATCH 4 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/realmadrid.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					real madrid
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					3
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					1
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					napoli
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/napoli.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

					<p>Ramos - 17 <i class="fa fa-square" style="color:yellow;"></i> </p>
					<p>Benzema - 18 <i class="fa fa-futbol-o"></i></p>
					<p>Kroos - 49 <i class="fa fa-futbol-o"></i></p>
					<p>Modric - 52 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Casemiro - 54 <i class="fa fa-futbol-o"></i></p>



				</div>

				<div class="col-md-2 text-center">
					<b>First Leg</b>
					<b>19:45</b>
					<b>21/02/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>Damir Skomina</b>
					<h4 class="mt-3">Venue</h4>
					<b>Santiago Bernabéu</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

					<p><i class="fa fa-futbol-o"></i> Insigne - 8</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Zieliński - 38</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Mertens - 76</p>


				</div>


			</div>

		</div>

		<!-- MATCH 5 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/bayerleverkusen.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					bayer 04 leverkusen
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					2
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					4
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					athletico madrid
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/athleticomadrid.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

					<p>Henrichs - 15 <i class="fa fa-square" style="color:yellow;"></i> </p>
					<p>Bellarabi - 48 <i class="fa fa-futbol-o"></i> </p>
					<p>Dragovic - 58 <i class="fa fa-square" style="color:yellow;"></i> </p>
					<p>Wendell - 64 <i class="fa fa-square" style="color:yellow;"></i> </p>
					<p>Savic - 68 <i class="fa fa-futbol-o" style="color:red;"></i> </p>
					<p>Aranguiz - 74 <i class="fa fa-square" style="color:yellow;"></i> </p>



				</div>

				<div class="col-md-2 text-center">
					<b>First Leg</b>
					<b>19:45</b>
					<b>21/02/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>William Collum</b>
					<h4 class="mt-3">Venue</h4>
					<b>BayArena</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

					<p><i class="fa fa-futbol-o"></i> Niguez - 17</p>
					<p><i class="fa fa-futbol-o"></i> Griezmann - 25</p>
					<p><i class="fa fa-futbol-o"></i> Gameiro - 59</p>
					<p><i class="fa fa-futbol-o"></i> Torres - 86</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Torres - 88</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Gabi - 89</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Luis - 90</p>


				</div>


			</div>

		</div>

		<!-- MATCH 6 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/manchestercity.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					manchester city
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					5
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					3
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					monaco
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/monaco.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

					<p>Sterling - 26 <i class="fa fa-futbol-o"></i> </p>
					<p>Aguero - 35 <i class="fa fa-square" style="color:yellow;"></i> </p>
					<p>Fernandinho - 40 <i class="fa fa-square" style="color:yellow;"></i> </p>
					<p>Otamendi - 49 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Aguero - 58 <i class="fa fa-futbol-o"></i> </p>
					<p>Aguero - 71 <i class="fa fa-futbol-o"></i></p>
					<p>Zabaleta - 73 <i class="fa fa-square" style="color:yellow;"></i> </p>
					<p>Stones - 77 <i class="fa fa-futbol-o"></i></p>
					<p>Sane - 82 <i class="fa fa-futbol-o"></i></p>



				</div>

				<div class="col-md-2 text-center">
					<b>First Leg</b>
					<b>19:45</b>
					<b>21/02/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>Antonio Mateu Lahoz</b>
					<h4 class="mt-3">Venue</h4>
					<b>Etihad Stadium</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

					<p><i class="fa fa-square" style="color:yellow;"></i> Glik - 8</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Sidibe - 25</p>
					<p><i class="fa fa-futbol-o"></i> Falcao - 32</p>
					<p><i class="fa fa-futbol-o"></i> Mbappe - 40</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Bakayoko - 55</p>
					<p><i class="fa fa-futbol-o"></i> Falcao - 61</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Falcao - 67</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Silva - 76</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Fabinho - 81</p>


				</div>


			</div>

		</div>

		<!-- MATCH 7 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/fcporto.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					fc porto
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					0
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					2
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					juventus
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/juventus.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

					<p>Telles - 25 <i class="fa fa-square" style="color:yellow;"></i> </p>
					<p>Telles - 27 <i class="fa fa-square" style="color:yellow;"></i><i class="fa fa-square" style="color:red;"></i> </p>
					<p>Pereira - 45+2 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Herrera - 85 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Marcano - 89 <i class="fa fa-square" style="color:yellow;"></i>
					</p>



				</div>

				<div class="col-md-2 text-center">
					<b>First Leg</b>
					<b>19:45</b>
					<b>22/02/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>Felix Brych</b>
					<h4 class="mt-3">Venue</h4>
					<b>Estádio do Dragão</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

					<p><i class="fa fa-square" style="color:yellow;"></i> Lichtsteiner - 50</p>
					<p><i class="fa fa-futbol-o"></i> Pjaca - 72</p>
					<p><i class="fa fa-futbol-o"></i> Alves - 74</p>


				</div>


			</div>

		</div>

		<!-- MATCH 8 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/sevilla.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					sevilla
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					2
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					1
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					leicester
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/leicester.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

					<p> Sarabia - 25 <i class="fa fa-futbol-o"></i></p>
					<p>Correa - 62 <i class="fa fa-futbol-o"></i></p>
					<p>Escudero - 64 <i class="fa fa-square" style="color:yellow;"></i></p>



				</div>

				<div class="col-md-2 text-center">
					<b>First Leg</b>
					<b>19:45</b>
					<b>22/02/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>Clément Turpin</b>
					<h4 class="mt-3">Venue</h4>
					<b>Ramon Sanchez Pizjuan Stadium<</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

						<p><i class="fa fa-futbol-o"></i> Vardy - 73</p>


				</div>


			</div>

		</div>

		<!-- MATCH 9 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/arsenal.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					arsenal
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					1
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					5
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					bayern munich
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/bayernmunich.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

						<p>Walcott - 20 <i class="fa fa-futbol-o"></i></p>
						<p>Walcott - 39 <i class="fa fa-square" style="color:yellow;"></i></p>
						<p>Koscielny - 53 <i class="fa fa-square" style="color:red;"></i></p>
						<p>Oxlade-Chamberlain - 61 <i class="fa fa-square" style="color:yellow;"></i></p>
						<p>Xhaka - 78 <i class="fa fa-square" style="color:yellow;"></i></p>



				</div>

				<div class="col-md-2 text-center">
					<b>Second Leg</b>
					<b>19:45</b>
					<b>07/03/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>Tasos Sidiropoulos</b>
					<h4 class="mt-3">Venue</h4>
					<b>Emirates Stadium</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

					<p><i class="fa fa-square" style="color:yellow;"></i> Alaba - 39</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Martinez - 44</p>
					<p><i class="fa fa-futbol-o"></i> Lewandowski - 55</p>
					<p><i class="fa fa-futbol-o"></i> Robben - 68</p>
					<p><i class="fa fa-futbol-o"></i> Costa - 78</p>
					<p><i class="fa fa-futbol-o"></i> Vidal - 80</p>
					<p><i class="fa fa-futbol-o"></i> Vidal - 85</p>


				</div>


			</div>

		</div>

		<!-- MATCH 10 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/napoli.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					napoli
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					1
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					3
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					real madrid
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/realmadrid.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

					<p>Mertens - 24 <i class="fa fa-futbol-o"></i></p>
					<p>Allan - 55 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Diawara - 89 <i class="fa fa-square" style="color:yellow;"></i> </p>



				</div>

				<div class="col-md-2 text-center">
					<b>Second Leg</b>
					<b>19:45</b>
					<b>07/03/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>Cüneyt Çakır</b>
					<h4 class="mt-3">Venue</h4>
					<b>Stadio San Paolo</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

					<p><i class="fa fa-futbol-o"></i> Ramos - 52 </p>
					<p><i class="fa fa-futbol-o" style="color:red;"></i> Mertens - 57 </p>
					<p><i class="fa fa-futbol-o"></i> Morata - 90+1 </p>


				</div>


			</div>

		</div>

		<!-- MATCH 11 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/borussiadortmund.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					borussia dortmund
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					4
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					0
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					benfica
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/benfica.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

					<p>Aubameyang - 4 <i class="fa fa-futbol-o"></i> </p>
					<p>Castro - 31 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Dembélé -38 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Pulišić - 59 <i class="fa fa-futbol-o"></i></p>
					<p>Aubameyang - 61 <i class="fa fa-futbol-o"></i></p>
					<p>Piszczek - 65 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Aubameyang - 85 <i class="fa fa-futbol-o"></i></p>



				</div>

				<div class="col-md-2 text-center">
					<b>Second Leg</b>
					<b>19:45</b>
					<b>08/03/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>Martin Atkinson</b>
					<h4 class="mt-3">Venue</h4>
					<b>Westfalenstadion</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

						<p><i class="fa fa-square" style="color:yellow;"></i> Samaris - 33</p>


				</div>


			</div>

		</div>

		<!-- MATCH 12 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/barcelona.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					barcelona
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					6
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					1
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					paris saint-germain
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/parisstgermain.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

					<p>Suarez - 3 <i class="fa fa-futbol-o"></i></p>
					<p>Pique - 23 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Busquets - 36 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Kurzawa - 40 <i class="fa fa-futbol-o" style="color:red;"></i></p>
					<p>Messi - 50 <i class="fa fa-futbol-o"></i></p>
					<p>Rakitic - 61 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p> Neymar - 64 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Suarez - 67 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Neymar - 88 <i class="fa fa-futbol-o"></i></p>
					<p>Neymar - 90+1 <i class="fa fa-futbol-o"></i></p>
					<p>Roberto - 90+5 <i class="fa fa-futbol-o"></i></p>



				</div>

				<div class="col-md-2 text-center">
					<b>Second Leg</b>
					<b>19:45</b>
					<b>08/03/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>Deniz Aytekin</b>
					<h4 class="mt-3">Venue</h4>
					<b>Camp Nou</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

					<p><i class="fa fa-square" style="color:yellow;"></i> Matuidi - 5</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Draxler - 14</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Cavani - 42</p>
					<p><i class="fa fa-futbol-o"></i> Cavani - 62</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Marquinhos - 90</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Veratti - 90+4</p>


				</div>


			</div>

		</div>

		<!-- MATCH 13 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/juventus.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					juventus
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					1
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					0
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					porto
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/fcporto.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

					<p>Cuadrado - 12 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Dybala - 42 <i class="fa fa-futbol-o"></i></p>



				</div>

				<div class="col-md-2 text-center">
					<b>Second Leg</b>
					<b>19:45</b>
					<b>14/03/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>Ovidiu Haţegan</b>
					<h4 class="mt-3">Venue</h4>
					<b>Juventus Stadium</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

					<p><i class="fa fa-square" style="color:yellow;"></i> Andre - 30</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Layun - 36</p>
					<p><i class="fa fa-square" style="color:red;"></i> Pereira - 40</p>


				</div>


			</div>

		</div>

		<!-- MATCH 14 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/leicester.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					leicester
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					2
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					0
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					sevilla
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/sevilla.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

					<p>Morgan - 27 <i class="fa fa-futbol-o"></i></p>
					<p>Albrighton - 54 <i class="fa fa-futbol-o"></i></p>
					<p>Vardy - 74 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Schmeichael - 79 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Ndidi - 84 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Mahrez - 89 <i class="fa fa-square" style="color:yellow;"></i></p>



				</div>

				<div class="col-md-2 text-center">
					<b>Second Leg</b>
					<b>19:45</b>
					<b>14/03/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>Daniele Orsato</b>
					<h4 class="mt-3">Venue</h4>
					<b>King Power Stadium</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

					<p><i class="fa fa-square" style="color:yellow;"></i> Nasri - 18</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Vitolo - 59</p>
					<p><i class="fa fa-square" style="color:yellow;"></i><i class="fa fa-square" style="color:red;"></i>  Nasri - 74</p>


				</div>


			</div>

		</div>

		<!-- MATCH 15 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/athleticomadrid.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					athletico madrid
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					0
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					0
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					bayer leverkusen
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/bayerleverkusen.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

					<p>Gimenez - 66 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Gaitan - 89 <i class="fa fa-square" style="color:yellow;"></i></p>



				</div>

				<div class="col-md-2 text-center">
					<b>Second Leg</b>
					<b>19:45</b>
					<b>15/03/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>Sergei Karasev</b>
					<h4 class="mt-3">Venue</h4>
					<b>Vicente Calderon</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

					<p><i class="fa fa-square" style="color:yellow;"></i> Jedvaj - 64</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Baumgartlinger - 71</p>


				</div>


			</div>

		</div>

		<!-- MATCH 16 -->
		<div class="container match col-md-12 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/monaco.png" height="75px"/>

				</div>

				<div class="col-md-2 tournament-home mt-4 text-center">
					monaco
				</div>

				<div class="col-md-1 home-goal mt-4 text-center">
					3
				</div>

				<div class="col-md-1 away-goal mt-4 text-center">
					1
				</div>

				<div class="col-md-2 tournament-away mt-4 text-center">
					manchester city
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/manchestercity.png"  height="75px"/>
				</div>

			</div>

			<div class="more_details row">

				<div class="col-md-5 pr-5 text-right">

					<p>Mbappe - 8 <i class="fa fa-futbol-o"></i></p>
					<p>Fabinho - 29 <i class="fa fa-futbol-o"></i></p>
					<p>Bakayoko - 59 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Bakayoko - 77 <i class="fa fa-futbol-o"></i></p>
					<p>Germain - 89 <i class="fa fa-square" style="color:yellow;"></i></p>
					<p>Lemar - 90+2 <i class="fa fa-square" style="color:yellow;"></i></p>



				</div>

				<div class="col-md-2 text-center">
					<b>Second Leg</b>
					<b>19:45</b>
					<b>15/03/2017</b>
					<h4 class="mt-3">Referee</h4>
					<b>Gianluca Rocchi</b>
					<h4 class="mt-3">Venue</h4>
					<b>Stade Louis II</b>
				</div>

				<div class="col-md-5 pl-5 text-left">

					<p><i class="fa fa-square" style="color:yellow;"></i> Sagna - 11</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> De Bruyne - 58</p>
					<p><i class="fa fa-futbol-o"></i> Sane - 71</p>
					<p><i class="fa fa-square" style="color:yellow;"></i> Sterling - 74</p>


				</div>


			</div>

		</div>




	</div>
</section>
