

<!--TIMELINE-->

<div class="container-fluid mt-5">
				
	<div id="timeline" class="">
		
		<div class="timeline_inner row">
			
			<div class="timeline_line"></div>
			
			<div class="timeline_1 timeline_section col-md-2 offset-md-1 no-padding">
				
				<p class="stage_name">Group Stage</p>
				
				<a routerLink="/tournament/group-stage"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_2 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Last 16</p>
				
				<a routerLink="/tournament/last-sixteen"><div class="timeline_circle on">
					
				</div></a>
				
			</div>
			
			<div class="timeline_3 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Quarter Finals</p>
				
				<a routerLink="/tournament/quarter-final"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_4 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Semi Final</p>
				
				<a routerLink="/tournament/semi-final"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_5 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Final</p>
				
				<a routerLink="/tournament/final"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
		</div>
		
	</div>
			
</div>

<!--TIMELINE END-->

<div class="col-md-10 offset-md-1">


	
	<h3 class="text-center mt-5 pb-5">Last Sixteen - First Leg Results</h3>



	<ul class="list-group">

					
		<!-- MATCH 1 -->
		<li class="list-group-item">
				<div class="row">


			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/benfica.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				benfica
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				1
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				0
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				borussia dortmund
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/borussiadortmund.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-futbol-o"></i> Mitroglou - 48</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Fejsa - 63</p>
						</div>

					
					<div class="col-md-2">
						<p class="text-center">First Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">14/02/2017</p>
						<p class="text-center">Nicola Rizzoli</p>
						<p class="text-center">Estádio do Sport Lisboa</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-square" style="color:yellow;"></i> Schmelzer - 74</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Pulišić - 85</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Bartra - 90</p>

					</div>

						
			</div>
		</div>

		</li>

		<!-- MATCH 2 -->

		<li class="list-group-item mt-5">
				<div class="row">

			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/parisstgermain.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				paris saint-germain
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				4
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				0
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				barcelona
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/barcelona.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-square" style="color:yellow;"></i> Rabiot - 3</p>
							<p><i class="fa fa-futbol-o"></i> Di Maria - 18</p>
							<p><i class="fa fa-futbol-o"></i> Draxler - 40</p>
							<p><i class="fa fa-futbol-o"></i> Di Maria - 55</p>
							<p><i class="fa fa-futbol-o"></i> Cavani - 72</p>
						</div>

					
					<div class="col-md-2">
						<p class="text-center">First Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">14/02/2017</p>
						<p class="text-center">Szymon Marciniak</p>
						<p class="text-center">Parc des Princes</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-square" style="color:yellow;"></i> Gomes - 33</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Busquets - 62</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Rafinha - 74</p>

					</div>

						
			</div>
		</div>

		</li>

		<!-- MATCH 3 -->

			<li class="list-group-item mt-5">
				<div class="row">

			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/bayernmunich.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				bayern munich
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				5
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				1
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				arsenal
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/arsenal.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-futbol-o"></i> Robben - 11</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Hummels - 26</p>
							<p><i class="fa fa-futbol-o"></i> Lewandowski - 53</p>
							<p><i class="fa fa-futbol-o"></i> Thiago - 56</p>
							<p><i class="fa fa-futbol-o"></i> Thiago - 63</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Lahm - 83</p>
							<p><i class="fa fa-futbol-o"></i> Muller - 88</p>
						</div>

					
					<div class="col-md-2">
						<p class="text-center">First Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">15/02/2017</p>
						<p class="text-center">Milorad Mažić </p>
						<p class="text-center">Allianz Arena</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-square" style="color:yellow;"></i> Mustafi - 15</p>
							<p><i class="fa fa-futbol-o"></i> Sanches - 30</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Ozil - 33</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Xhaka - 60</p>

					</div>

						
			</div>
		</div>

		</li>

				<!-- MATCH 4 -->


			<li class="list-group-item mt-5">
				<div class="row">

			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/realmadrid.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				real madrid
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				3
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				1
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				napoli
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/napoli.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-square" style="color:yellow;"></i> Ramos - 17</p>
							<p><i class="fa fa-futbol-o"></i> Benzema - 18</p>
							<p><i class="fa fa-futbol-o"></i> Kroos - 449</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Modric - 52</p>
							<p><i class="fa fa-futbol-o"></i> Casemiro - 54</p>
						</div>

					
					<div class="col-md-2">
						<p class="text-center">First Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center"> 21/02/2017</p>
						<p class="text-center">Damir Skomina</p>
						<p class="text-center">Santiago Bernabéu</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-futbol-o"></i> Insigne - 8</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Zieliński - 38</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Mertens - 76</p>
					</div>

						
			</div>
		</div>

		</li>

				<!-- MATCH 5 -->


			<li class="list-group-item mt-5">
				<div class="row">

			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/bayerleverkusen.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				Bayer 04 Leverkusen
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				2
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				4
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				Athletico Madrid
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/athleticomadrid.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							
							<p><i class="fa fa-square" style="color:yellow;"></i> Henrichs - 15</p>
							<p><i class="fa fa-futbol-o"></i> Bellarabi - 48</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Dragovic - 58</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Wendell - 64</p>
							<p><i class="fa fa-futbol-o" style="color:red;"></i> Savic - 68</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Aranguiz - 74</p>

						</div>

					
					<div class="col-md-2">
						<p class="text-center">First Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">21/02/2017</p>
						<p class="text-center">William Collum</p>
						<p class="text-center">BayArena</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-futbol-o"></i> Niguez - 17</p>
							<p><i class="fa fa-futbol-o"></i> Griezmann - 25</p>
							<p><i class="fa fa-futbol-o"></i> Gameiro - 59</p>
							<p><i class="fa fa-futbol-o"></i> Torres - 86</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Torres - 88</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Gabi - 89</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Luis - 90</p>

					</div>

						
			</div>
		</div>

		</li>

				<!-- MATCH 6 -->


			<li class="list-group-item mt-5">
				<div class="row">

			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/manchestercity.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				manchester city
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				5
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				3
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				monaco
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/monaco.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-futbol-o"></i> Sterling - 26</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Aguero - 35</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Fernandinho - 40</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Otamendi - 49</p>
							<p><i class="fa fa-futbol-o"></i> Aguero - 58</p>
							<p><i class="fa fa-futbol-o"></i> Aguero - 71</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Zabaleta - 73</p>
							<p><i class="fa fa-futbol-o"></i> Stones - 77</p>
							<p><i class="fa fa-futbol-o"></i> Sane - 82</p>
							

						</div>

					
					<div class="col-md-2">
						<p class="text-center">First Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">21/02/2017</p>
						<p class="text-center">Antonio Mateu Lahoz </p>
						<p class="text-center">Etihad Stadium</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-square" style="color:yellow;"></i> Glik - 8</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Sidibe - 25</p>
							<p><i class="fa fa-futbol-o"></i> Falcao - 32</p>
							<p><i class="fa fa-futbol-o"></i> Mbappe - 40</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Bakayoko - 55</p>
							<p><i class="fa fa-futbol-o"></i> Falcao - 61</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Falcao - 67</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Silva - 76</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Fabinho - 81</p>

					</div>

						
			</div>
		</div>

		</li>

				<!-- MATCH 7 -->


			<li class="list-group-item mt-5">
				<div class="row">

			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/fcporto.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				futebol clube porto
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				0
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				2
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				juventus
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/juventus.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-square" style="color:yellow;"></i> Telles - 25</p>
							<p><i class="fa fa-square" style="color:yellow;"></i><i class="fa fa-square" style="color:red;"></i>  Telles - 27</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Pereira - 45+2</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Herrera - 85</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Marcano - 89</p>
						</div>

					
					<div class="col-md-2">
						<p class="text-center">First Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">22/02/2017</p>
						<p class="text-center">Felix Brych</p>
						<p class="text-center">Estádio do Dragão</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-square" style="color:yellow;"></i> Lichtsteiner - 50</p>
							<p><i class="fa fa-futbol-o"></i> Pjaca - 72</p>
							<p><i class="fa fa-futbol-o"></i> Alves - 74</p>

					</div>

						
			</div>
		</div>

		</li>

		<!-- MATCH 8 -->


			<li class="list-group-item mt-5">
				<div class="row">

			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/sevilla.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				sevilla
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				2
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				1
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				leicester
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/leicester.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-futbol-o"></i> Sarabia - 25</p>
							<p><i class="fa fa-futbol-o"></i> Correa - 62</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Escudero - 64</p>
						</div>

					
					<div class="col-md-2">
						<p class="text-center">First Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">22/02/2017</p>
						<p class="text-center">Clément Turpin</p>
						<p class="text-center">Ramon Sanchez Pizjuan Stadium</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-futbol-o"></i> Vardy - 73</p>


					</div>

						
			</div>
		</div>

		</li>

	<h3 class="text-center mt-5 pt-5 pb-5">Last Sixteen - Second Leg Results</h3>

		<!-- MATCH 9 -->


			<li class="list-group-item mt-5">
				<div class="row">

			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/arsenal.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				arsenal
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				1
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				5
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				bayern munich
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/bayernmunich.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-futbol-o"></i> Walcott - 20</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Walcott - 39</p>
							<p><i class="fa fa-square" style="color:red;"></i> Koscielny - 53</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Oxlade-Chamberlain - 61</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Xhaka - 78</p>
						</div>

					
					<div class="col-md-2">
						<p class="text-center">Second Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">07/03/2017</p>
						<p class="text-center">Tasos Sidiropoulos</p>
						<p class="text-center">Emirates Stadium</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-square" style="color:yellow;"></i> Alaba - 39</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Martinez - 44</p>
							<p><i class="fa fa-futbol-o"></i> Lewandowski - 55</p>
							<p><i class="fa fa-futbol-o"></i> Robben - 68</p>
							<p><i class="fa fa-futbol-o"></i> Costa - 78</p>
							<p><i class="fa fa-futbol-o"></i> Vidal - 80</p>
							<p><i class="fa fa-futbol-o"></i> Vidal - 85</p>

					</div>

						
			</div>
		</div>

		</li>

		<!-- MATCH 10 -->


			<li class="list-group-item mt-5">
				<div class="row">

			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/napoli.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				napoli
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				1
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				3
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				real madrid
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/realmadrid.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-futbol-o"></i> Mertens - 24</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Allan - 55</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Diawara - 89</p>
						</div>

					
					<div class="col-md-2">
						<p class="text-center">Second Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">07/03/2017</p>
						<p class="text-center">Cüneyt Çakır</p>
						<p class="text-center">Stadio San Paolo</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-futbol-o"></i> Ramos - 52 </p>
							<p><i class="fa fa-futbol-o" style="color:red;"></i> Mertens - 57 </p>
							<p><i class="fa fa-futbol-o"></i> Morata - 90+1 </p>

					</div>

						
			</div>
		</div>

		</li>

		<!-- MATCH 11 -->


			<li class="list-group-item mt-5">
				<div class="row">

			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/borussiadortmund.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				borussia dortmund
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				4
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				0
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				benfica
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/benfica.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-futbol-o"></i> Aubameyang - 4</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Castro - 31</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Dembélé -38</p>
							<p><i class="fa fa-futbol-o"></i> Pulišić - 59</p>
							<p><i class="fa fa-futbol-o"></i> Aubameyang - 61</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Piszczek - 65</p>
							<p><i class="fa fa-futbol-o"></i> Aubameyang - 85</p>
						</div>

					
					<div class="col-md-2">
						<p class="text-center">Second Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">08/03/2017</p>
						<p class="text-center">Martin Atkinson</p>
						<p class="text-center">Westfalenstadion</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-square" style="color:yellow;"></i> Samaris - 33</p>

					</div>

						
			</div>
		</div>

		</li>

		<!-- MATCH 12 -->


			<li class="list-group-item mt-5">
				<div class="row">

			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/barcelona.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				barcelona
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				6
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				1
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				paris saint-germain
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/parisstgermain.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-futbol-o"></i> Suarez - 3</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Pique - 23</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Busquets - 36</p>
							<p><i class="fa fa-futbol-o" style="color:red;"></i> Kurzawa - 40</p>
							<p><i class="fa fa-futbol-o"></i> Messi - 50</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Rakitic - 61</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Neymar - 64</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Suarez - 67</p>
							<p><i class="fa fa-futbol-o"></i> Neymar - 88</p>
							<p><i class="fa fa-futbol-o"></i> Neymar - 90+1</p>
							<p><i class="fa fa-futbol-o"></i> Roberto - 90+5</p>

						</div>

					
					<div class="col-md-2">
						<p class="text-center">Second Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">08/03/2017</p>
						<p class="text-center">Deniz Aytekin</p>
						<p class="text-center">Camp Nou</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-square" style="color:yellow;"></i> Matuidi - 5</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Draxler - 14</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Cavani - 42</p>
							<p><i class="fa fa-futbol-o"></i> Cavani - 62</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Marquinhos - 90</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Veratti - 90+4</p>

					</div>

						
			</div>
		</div>

		</li>

		<!-- MATCH 13 -->


			<li class="list-group-item mt-5">
				<div class="row">

			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/juventus.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				juventus
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				1
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				0
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				porto
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/fcporto.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-square" style="color:yellow;"></i> Cuadrado - 12</p>
							<p><i class="fa fa-futbol-o"></i> Dybala - 42</p>
							
						</div>

					
					<div class="col-md-2">
						<p class="text-center">Second Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">14/03/2017</p>
						<p class="text-center">Ovidiu Haţegan</p>
						<p class="text-center">Juventus Stadium</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-square" style="color:yellow;"></i> Andre - 30</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Layun - 36</p>
							<p><i class="fa fa-square" style="color:red;"></i> Pereira - 40</p>

					</div>

						
			</div>
		</div>

		</li>

		<!-- MATCH 14 -->


			<li class="list-group-item mt-5">
				<div class="row">

			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/leicester.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				leicester
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				2
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				0
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				sevilla
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/sevilla.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-futbol-o"></i> Morgan - 27</p>
							<p><i class="fa fa-futbol-o"></i> Albrighton - 54</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Vardy - 74</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Schmeichael - 79</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Ndidi - 84</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Mahrez - 89</p>
						</div>

					
					<div class="col-md-2">
						<p class="text-center">Second Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">14/03/2017</p>
						<p class="text-center">Daniele Orsato</p>
						<p class="text-center">King Power Stadium</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-square" style="color:yellow;"></i> Nasri - 18</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Vitolo - 59</p>
							<p><i class="fa fa-square" style="color:yellow;"></i><i class="fa fa-square" style="color:red;"></i>  Nasri - 74</p>

					</div>

						
			</div>
		</div>

		</li>

		<!-- MATCH 15 -->


			<li class="list-group-item mt-5">
				<div class="row">

			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/athleticomadrid.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				athletico
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				0
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				0
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				Bayer Leverkusen
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/bayerleverkusen.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-square" style="color:yellow;"></i> Gimenez - 66</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Gaitan - 89</p>
						</div>

					
					<div class="col-md-2">
						<p class="text-center">Second Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">15/03/2017</p>
						<p class="text-center">Sergei Karasev</p>
						<p class="text-center">Vicente Calderon</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-square" style="color:yellow;"></i> Jedvaj - 64</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Baumgartlinger - 71</p>

					</div>

						
			</div>
		</div>

		</li>

		<!-- MATCH 16 -->


			<li class="list-group-item mt-5 mb-5">
				<div class="row">

			<div class="col-md-2 tournament-badge offset-md-1 text-center">
			
				<img src="../assets/img/monaco.png" class="text-center" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				monaco
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				3
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				1
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				manchester city
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/manchestercity.png" class="text-center" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-futbol-o"></i> Mbappe - 8</p>
							<p><i class="fa fa-futbol-o"></i> Fabinho - 29</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Bakayoko - 59</p>
							<p><i class="fa fa-futbol-o"></i> Bakayoko - 77</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Germain - 89</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Lemar - 90+2</p>
						</div>

					
					<div class="col-md-2">
						<p class="text-center">Second Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">15/03/2017</p>
						<p class="text-center">Gianluca Rocchi</p>
						<p class="text-center">Stade Louis II</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-square" style="color:yellow;"></i> Sagna - 11</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> De Bruyne - 58</p>
							<p><i class="fa fa-futbol-o"></i> Sane - 71</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Sterling - 74</p>

					</div>

						
			</div>
		</div>

		</li>
	</ul>

</div>

