<!-- Hide this div when the isClassVisable variable is set to true -->
<div id="all_teams_holder" class="margin-top">
	
	<div class="container">
		
		<div class="row">
			
			<div class="col-md-12">
				
				<!-- Title for teams section -->
				<h3>All Teams</h3>
				
				<p>Click on a team to find out more about them.</p>
				
			</div>
			
		</div>
		
	</div>
	
	<div class="container">
		
		<!-- Div that displays all teams in a grid layout -->
		<div id="all_teams" class="row">
			
			<!-- Loop though each team, when clicked trigger the 'clicked' function in the component -->
			<div *ngFor="let team of teams" id="{{team.id}}" class="col-md-4 team">

		<a [routerLink]="['/teams', team.id]">
				<div class="team_inner">

					<!-- Display the current team's badge -->
					<div class="col-md-12 team_badge">

						<img src="./assets/img/{{team.logo_path}}.png" height="63px"/>

					</div>

					<!-- Display the current team's name and league -->
					<div class="col-md-12 team_info">

						<p class="team_name">{{team.name}}</p>

						<p class="team_league">{{team.league}}</p>

					</div>

					<!-- Display an arrow icon so the user knows to click the team -->
					<div class="col-md-12 more">

						<div class="more_inner">

							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>

						</div>

					</div>

				</div>
			</a>

			</div>

		</div>
	
	</div>
	
</div>

