

<!--TIMELINE-->

<div class="container-fluid mt-5">
				
	<div id="timeline" class="">
		
		<div class="timeline_inner row">
			
			<div class="timeline_line"></div>
			
			<div class="timeline_1 timeline_section col-md-2 offset-md-1 no-padding">
				
				<p class="stage_name">Group Stage</p>
				
				<a routerLink="/tournament/group-stage"><div class="timeline_circle on">
					
				</div></a>
				
			</div>
			
			<div class="timeline_2 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Last 16</p>
				
				<a routerLink="/tournament/last-sixteen"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_3 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Quarter Finals</p>
				
				<a routerLink="/tournament/quarter-final"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_4 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Semi Final</p>
				
				<a routerLink="/tournament/semi-final"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_5 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Final</p>
				
				<a routerLink="/tournament/final"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
		</div>
		
	</div>
			
</div>

<!--TIMELINE END-->


<div class="col-md-10 offset-md-1">
        <h1 class="mt-5">Standings</h1>
    <div class="box-content clearfix">
      


  <div class="mt-5">

      <div class="group-container">
       
        <table class="table">
          <thead>
            <tr>
              <th><h3>Group A</h3></th>

              <th>
     
                <span>P</span>
              </th>

              <th>

                <span>W</span>
              </th>

              <th>

                <span>D</span>
              </th>

              <th>

                <span>L</span>
              </th>

              <th>
                <span>F</span>
              </th>

              <th>
                <span>A</span>
              </th>

              <th>
                GD
              </th>

              <th>

                <span>Pts</span>
              </th>
            </tr>
          </thead>

          <tbody>
              
              
              
              
          <tr>
                <td>
                  <a routerLink="/teams/3" title="Arsenal">
                    <div>
                      <span>
                        Arsenal FC
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>4</td>
                <td>2</td>
                <td>0</td>
                <td>18</td>
                <td>6</td>
                <td>12</td>
                <td>
                  <strong>14</strong>
                </td>
              </tr><tr>
                <td>
                   <a routerLink="/teams/13" title="Paris">
                    <div>
                      <span>
                        Paris Saint-Germain
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>3</td>
                <td>3</td>
                <td>0</td>
                <td>13</td>
                <td>7</td>
                <td>6</td>
                <td>
                  <strong>12</strong>
                </td>
              </tr><tr>
                <td>
                  <a routerLink="/teams/31" title="Ludogorets">
                    
                    <div>
                      <span>
                        PFC Ludogorets Razgrad
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>0</td>
                <td>3</td>
                <td>3</td>
                <td>6</td>
                <td>15</td>
                <td>-9</td>
                <td>
                  <strong>3</strong>
                </td>
              </tr><tr>
                <td>
                  <a routerLink="/teams/19" title="Basel">
                    
                    <div>
                      <span>
                        FC Basel 1893
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>0</td>
                <td>2</td>
                <td>4</td>
                <td>3</td>
                <td>12</td>
                <td>-9</td>
                <td>
                  <strong>2</strong>
                </td>
              </tr></tbody>
        </table>

	

        <div class="mt-5">

        <table class="table">
          <thead>
            <tr>
              <th><h3>Group B</h3></th>

              <th>
     
                <span>P</span>
              </th>

              <th>

                <span>W</span>
              </th>

              <th>

                <span>D</span>
              </th>

              <th>

                <span>L</span>
              </th>

              <th>
                <span>F</span>
              </th>

              <th>
                <span>A</span>
              </th>

              <th>
                GD
              </th>

              <th>

                <span>Pts</span>
              </th>
            </tr>
          </thead>

          <tbody>
              
              
              
              
          <tr>
                <td>
                  <a routerLink="/teams/17" title="Napoli">
                 
                    <div>
                      <span>
                        SSC Napoli
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>3</td>
                <td>2</td>
                <td>1</td>
                <td>11</td>
                <td>8</td>
                <td>3</td>
                <td>
                  <strong>11</strong>
                </td>
              </tr><tr>
                <td>
                  <a routerLink="/teams/12" title="Benfica">
                    
                    <div>
                      <span>
                        SL Benfica
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>10</td>
                <td>10</td>
                <td>0</td>
                <td>
                  <strong>8</strong>
                </td>
              </tr><tr>
                <td>
                  <a routerLink="/teams/28" title="Beşiktaş">
                    <div>
                      <span>
                        Beşiktaş JK
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>1</td>
                <td>4</td>
                <td>1</td>
                <td>9</td>
                <td>14</td>
                <td>-5</td>
                <td>
                  <strong>7</strong>
                </td>
              </tr><tr>
                <td>
                 <a routerLink="/teams/20" title="Dynamo Kyiv">
                    <div>
                      <span>
                        FC Dynamo Kyiv
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>8</td>
                <td>6</td>
                <td>2</td>
                <td>
                  <strong>5</strong>
                </td>
              </tr></tbody>
        </table>

       

      <div class="mt-5">
       
        <table class="table">
          <thead>
            <tr>
              <th><h3>Group C</h3></th>

              <th>
     
                <span>P</span>
              </th>

              <th>

                <span>W</span>
              </th>

              <th>

                <span>D</span>
              </th>

              <th>

                <span>L</span>
              </th>

              <th>
                <span>F</span>
              </th>

              <th>
                <span>A</span>
              </th>

              <th>
                GD
              </th>

              <th>

                <span>Pts</span>
              </th>
            </tr>
          </thead>

          <tbody>
              
              
              
              
          <tr>
                <td>
                  <a routerLink="/teams/5" title="Barcelona">
                  
                    <div>
                      <span>
                        FC Barcelona
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>5</td>
                <td>0</td>
                <td>1</td>
                <td>20</td>
                <td>4</td>
                <td>16</td>
                <td>
                  <strong>15</strong>
                </td>
              </tr><tr>
                <td>
                  <a routerLink="/teams/2" title="Man. City">
                    
                    <div>
                      <span>
                        Manchester City FC
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>2</td>
                <td>3</td>
                <td>1</td>
                <td>12</td>
                <td>10</td>
                <td>2</td>
                <td>
                  <strong>9</strong>
                </td>
              </tr><tr>
                <td>
                  <a routerLink="/teams/25" title="Mönchengladbach">
               
                    <div>
                      <span>
                        VfL Borussia Mönchengladbach
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>5</td>
                <td>12</td>
                <td>-7</td>
                <td>
                  <strong>5</strong>
                </td>
              </tr><tr>
                <td>
                 <a routerLink="/teams/26" title="Celtic">
                    
                    <div>
                      <span>
                        Celtic FC
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>0</td>
                <td>3</td>
                <td>3</td>
                <td>5</td>
                <td>16</td>
                <td>-11</td>
                <td>
                  <strong>3</strong>
                </td>
              </tr></tbody>
        </table>

       
      </div>
      <div class="mt-5">
        <table class="table">
          <thead>
            <tr>
              <th><h3>Group D</h3></th>

              <th>
     
                <span>P</span>
              </th>

              <th>

                <span>W</span>
              </th>

              <th>

                <span>D</span>
              </th>

              <th>

                <span>L</span>
              </th>

              <th>
                <span>F</span>
              </th>

              <th>
                <span>A</span>
              </th>

              <th>
                GD
              </th>

              <th>

                <span>Pts</span>
              </th>
            </tr>
          </thead>

          <tbody>
              
              
              
              
          <tr>
                <td>
                  <a routerLink="/teams/7" title="Atlético">
                    
                    <div>
                      <span>
                        Club Atlético de Madrid
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>5</td>
                <td>0</td>
                <td>1</td>
                <td>7</td>
                <td>2</td>
                <td>5</td>
                <td>
                  <strong>15</strong>
                </td>
              </tr><tr>
                <td>
                 <a routerLink="/teams/10" title="Bayern">
                   
                    <div>
                      <span>
                        FC Bayern München
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>4</td>
                <td>0</td>
                <td>2</td>
                <td>14</td>
                <td>6</td>
                <td>8</td>
                <td>
                  <strong>12</strong>
                </td>
              </tr><tr>
                <td>
                 <a routerLink="/teams/33" title="Rostov">
                    
                    <div>
                      <span>
                        FC Rostov
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>6</td>
                <td>12</td>
                <td>-6</td>
                <td>
                  <strong>5</strong>
                </td>
              </tr><tr>
                <td>
                  <a routerLink="/teams/22" title="PSV">
                    
                    <div>
                      <span>
                        PSV Eindhoven
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>0</td>
                <td>2</td>
                <td>4</td>
                <td>4</td>
                <td>11</td>
                <td>-7</td>
                <td>
                  <strong>2</strong>
                </td>
              </tr></tbody>
        </table>

      

      <div class="mt-5">
        <table class="table">
          <thead>
            <tr>
              <th><h3>Group E</h3></th>

              <th>
     
                <span>P</span>
              </th>

              <th>

                <span>W</span>
              </th>

              <th>

                <span>D</span>
              </th>

              <th>

                <span>L</span>
              </th>

              <th>
                <span>F</span>
              </th>

              <th>
                <span>A</span>
              </th>

              <th>
                GD
              </th>

              <th>

                <span>Pts</span>
              </th>
            </tr>
          </thead>

          <tbody>
              
              
              
              
          <tr>
                <td>
                  <a routerLink="/teams/27" title="Monaco">
                   <div>
                      <span>
                        AS Monaco FC
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>3</td>
                <td>2</td>
                <td>1</td>
                <td>9</td>
                <td>7</td>
                <td>2</td>
                <td>
                  <strong>11</strong>
                </td>
              </tr><tr>
                <td>
                 <a routerLink="/teams/18" title="Leverkusen">
                    
                    <div>
                      <span>
                        Bayer 04 Leverkusen
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>2</td>
                <td>4</td>
                <td>0</td>
                <td>8</td>
                <td>4</td>
                <td>4</td>
                <td>
                  <strong>10</strong>
                </td>
              </tr><tr>
                <td>
                 <a routerLink="/teams/4" title="Tottenham">
                    
                    <div>
                      <span>
                        Tottenham Hotspur FC
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>2</td>
                <td>1</td>
                <td>3</td>
                <td>6</td>
                <td>6</td>
                <td>0</td>
                <td>
                  <strong>7</strong>
                </td>
              </tr><tr>
                <td>
                 <a routerLink="/teams/14" title="CSKA Moskva">
                    
                    <div>
                      <span>
                        PFC CSKA Moskva
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>0</td>
                <td>3</td>
                <td>3</td>
                <td>5</td>
                <td>11</td>
                <td>-6</td>
                <td>
                  <strong>3</strong>
                </td>
              </tr></tbody>
        </table>

      
      <div class="mt-5">

        <table class="table">
          <thead>
            <tr>
              <th><h3>Group F</h3></th>

              <th>
     
                <span>P</span>
              </th>

              <th>

                <span>W</span>
              </th>

              <th>

                <span>D</span>
              </th>

              <th>

                <span>L</span>
              </th>

              <th>
                <span>F</span>
              </th>

              <th>
                <span>A</span>
              </th>

              <th>
                GD
              </th>

              <th>

                <span>Pts</span>
              </th>
            </tr>
          </thead>

          <tbody>
              
              
              
              
          <tr>
                <td>
                 <a routerLink="/teams/15" title="Dortmund">
                    
                    <div>
                      <span>
                        Borussia Dortmund
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>4</td>
                <td>2</td>
                <td>0</td>
                <td>21</td>
                <td>9</td>
                <td>12</td>
                <td>
                  <strong>14</strong>
                </td>
              </tr><tr>
                <td>
                 <a routerLink="/teams/6" title="Real Madrid">
                    
                    <div>
                      <span>
                        Real Madrid CF
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>3</td>
                <td>3</td>
                <td>0</td>
                <td>16</td>
                <td>10</td>
                <td>6</td>
                <td>
                  <strong>12</strong>
                </td>
              </tr><tr>
                <td>
                  <a routerLink="/teams/29" title="Legia">
                    <div>
                      <span>
                        Legia Warszawa
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>1</td>
                <td>1</td>
                <td>4</td>
                <td>9</td>
                <td>24</td>
                <td>-15</td>
                <td>
                  <strong>4</strong>
                </td>
              </tr><tr>
                <td>
                 <a routerLink="/teams/23" title="Sporting CP">
                    
                    <div>
                      <span>
                        Sporting Clube de Portugal
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>1</td>
                <td>0</td>
                <td>5</td>
                <td>5</td>
                <td>8</td>
                <td>-3</td>
                <td>
                  <strong>3</strong>
                </td>
              </tr></tbody>
        </table>

        
      <div class="mt-5">
        <table class="table">
          <thead>
            <tr>
              <th><h3>Group G</h3></th>

              <th>
     
                <span>P</span>
              </th>

              <th>

                <span>W</span>
              </th>

              <th>

                <span>D</span>
              </th>

              <th>

                <span>L</span>
              </th>

              <th>
                <span>F</span>
              </th>

              <th>
                <span>A</span>
              </th>

              <th>
                GD
              </th>

              <th>

                <span>Pts</span>
              </th>
            </tr>
          </thead>

          <tbody>
              
              
              
              
          <tr>
                <td>
                  <a routerLink="/teams/1" title="Leicester">
                    
                    <div>
                      <span>
                        Leicester City FC
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>4</td>
                <td>1</td>
                <td>1</td>
                <td>7</td>
                <td>6</td>
                <td>1</td>
                <td>
                  <strong>13</strong>
                </td>
              </tr><tr>
                <td>
                 <a routerLink="/teams/16" title="Porto">
                    
                    <div>
                      <span>
                        FC Porto
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>3</td>
                <td>2</td>
                <td>1</td>
                <td>9</td>
                <td>3</td>
                <td>6</td>
                <td>
                  <strong>11</strong>
                </td>
              </tr><tr>
                <td>
                 <a routerLink="/teams/32" title="København">
                   
                    <div>
                      <span>
                        FC København
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>2</td>
                <td>3</td>
                <td>1</td>
                <td>7</td>
                <td>2</td>
                <td>5</td>
                <td>
                  <strong>9</strong>
                </td>
              </tr><tr>
                <td>
                  <a routerLink="/teams/24" title="Club Brugge">
                    
                    <div>
                      <span>
                        Club Brugge KV
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>0</td>
                <td>0</td>
                <td>6</td>
                <td>2</td>
                <td>14</td>
                <td>-12</td>
                <td>
                  <strong>0</strong>
                </td>
              </tr></tbody>
        </table>

       
      <div class="mt-5">
        <table class="table">
          <thead>
            <tr>
              <th><h3>Group H</h3></th>

              <th>
     
                <span>P</span>
              </th>

              <th>

                <span>W</span>
              </th>

              <th>

                <span>D</span>
              </th>

              <th>

                <span>L</span>
              </th>

              <th>
                <span>F</span>
              </th>

              <th>
                <span>A</span>
              </th>

              <th>
                GD
              </th>

              <th>

                <span>Pts</span>
              </th>
            </tr>
          </thead>

          <tbody>
              
              
              
              
          <tr>
                <td>
                  <a routerLink="/teams/11" title="Juventus">
                    
                    <div>
                      <span>
                        Juventus
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>4</td>
                <td>2</td>
                <td>0</td>
                <td>11</td>
                <td>2</td>
                <td>9</td>
                <td>
                  <strong>14</strong>
                </td>
              </tr><tr>
                <td>
                  <a routerLink="/teams/8" title="Sevilla">
                   
                    <div>
                      <span>
                        Sevilla FC
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>3</td>
                <td>2</td>
                <td>1</td>
                <td>7</td>
                <td>3</td>
                <td>4</td>
                <td>
                  <strong>11</strong>
                </td>
              </tr><tr>
                <td>
                  <a routerLink="/teams/21" title="Lyon">
                    
                    <div>
                      <span>
                        Olympique Lyonnais
                      </span>
                    </div>
                  </a>
                </td>
                <td>6</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>5</td>
                <td>3</td>
                <td>2</td>
                <td>
                  <strong>8</strong>
                </td>
              </tr><tr>
                <td>
                 <a routerLink="/teams/30" title="Dinamo Zagreb">
                   
                    <div>
                      <span>
                        GNK Dinamo Zagreb
                      </span>
                    </div>
                  </a>
                </td>
            	<td>6</td>
                <td>0</td>
                <td>0</td>
                <td>6</td>
                <td>0</td>
                <td>15</td>
                <td>-15</td>
                <td>
                  <strong>0</strong>
                </td>
              </tr></tbody>
        </table>

    

      </div>
  </div>
  
    </div>

  </div>
