<div class="row dark-green-bg">

	<div class="col-md-12 pb-2 pt-2">

		<h3>Admin Area</h3>

	</div>

</div>

<div class="row admin-user">

	<div class="col-md-2">

		<div class="circle">

			<img src="assets/img/lin-1.jpg">

		</div>

	</div>

	<div class="col-md-10">

		<div class="row admin-name">

			<div class="col-md-12">

				<p>Zhiwei Lin</p>

			</div>

			<div class="col-md-12">

				<p class="small">Administrator</p>

			</div>

		</div>

	</div>

</div>

<a class="edit_team_btn sidebar-option-link" href="admin/edit/team/1">

	<div class="row sidebar-option on">

		<div class="col-md-12 pb-2 pt-2">

			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Team</p>

		</div>

	</div>

</a>

<a class="edit_stadium_btn sidebar-option-link" href="admin/edit/stadium/1">

	<div class="row sidebar-option">

		<div class="col-md-12 pb-2 pt-2">

			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Stadium</p>

		</div>

	</div>

</a>

<a class="edit_manager_btn sidebar-option-link" href="admin/edit/manager/1">

	<div class="row sidebar-option">

		<div class="col-md-12 pb-2 pt-2">

			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Manager</p>

		</div>

	</div>

</a>

<a class="edit_players_btn sidebar-option-link" href="admin/edit/players/1">

	<div class="row sidebar-option">

		<div class="col-md-12 pb-2 pt-2">

			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Players</p>

		</div>

	</div>

</a>