@mixin transition($ms) {   
	-webkit-transition: all $ms ease;
    -moz-transition: all $ms ease;
    -o-transition: all $ms ease;
    transition: all $ms ease;
}
@mixin backgroundSize() {   
	-webkit-transition: background-size 500ms ease, background-color 500ms ease;
    -moz-transition: background-size 500ms ease, background-color 500ms ease;
    -o-transition: background-size 500ms ease, background-color 500ms ease;
    transition: background-size 500ms ease, background-color 500ms ease;
}
@mixin marginTop($ms) {
	-webkit-transition: height 500ms ease,  margin-top $ms ease;
    -moz-transition: height 500ms ease,  margin-top $ms ease;
    -o-transition: height 500ms ease,  margin-top $ms ease;
    transition: height 500ms ease,  margin-top $ms ease;
}

@mixin boxShadow(){
	box-shadow: 0px 0px 56px -6px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 0px 56px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 56px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 56px -6px rgba(0,0,0,0.75);
}

@mixin leftGradient(){
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e65b0+31,7db9e8+100&1+31,0+100 */
background: -moz-linear-gradient(left, rgba(46,101,176,1) 31%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(46,101,176,1) 31%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(46,101,176,1) 31%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e65b0', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

@mixin rightGradient(){
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,2e65b0+69&0+0,1+69 */
background: -moz-linear-gradient(left, rgba(125,185,232,0) 0%, rgba(46,101,176,1) 69%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(125,185,232,0) 0%,rgba(46,101,176,1) 69%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(125,185,232,0) 0%,rgba(46,101,176,1) 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#2e65b0',GradientType=1 ); /* IE6-9 */
}
$font1: 'Poppins', sans-serif;
$title: 'Poppins', sans-serif;

$white: #ffffff;
$black: #000000;
$green: #52b258;
$lightgrey: #4b4c4d;
$lightergrey: #999;
$darkgrey: #2c2e2f;
$transgrey: rgba(37, 37, 37, 0.4);
$bgColour2: #f7f7f6;
$yellow: #f2c807;
$skysportsblue: #2e65b0;
$indianred:#D66060;


body{
	background-color: $white;
	color: $darkgrey;
	text-align: left;
}
.margin-top{
	margin-top: 50px;
}
form{
	.form-row{
		margin: 10px auto;
		padding: 0;
		input{
			
		}
		textarea{
			height: 200px;
		}
		.btn{
			display: block;
			margin: auto;
			margin-right: 0;
		}
	}
}
#map{
	height: 300px;
	width: 100%;
}
.no-padding{
	padding: 0 !important;
}
#all_teams_holder{
	#all_teams{
		.team{
			color: $darkgrey;
			border-bottom: 1px solid $darkgrey;
			padding: 10px;
			text-align: center;
			position: relative;
			height: 200px;
			display: table;
			.team_inner{
				background-color: $white;
				position: relative;
				display: table-cell;
				vertical-align: middle;
				width: calc(100% - 10px);
				cursor: pointer;
				p{
					margin: 0;
				}
				p.team_name{
					
				}
				p.team_league{
					color: $lightgrey;
					font-size: 10px;
				}
				.team_badge{
					text-align: center;
					img{
						max-width: 100%;
					}
				}
				.more{
					display: table;
					text-align: center;
					width: 100%;
					cursor: pointer;
					.more_inner{
						display: table-cell;
						vertical-align: middle;
						cursor: pointer;
						i{
							font-size: 30px;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}

.top_image{
	width: 100%;
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: table;
	position: relative;
	.top_image_inner{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		background-color: $transgrey;
	}
	#menu_bar{
		position: absolute;
		bottom: 0;
		left: 0;
		height: 70px;
		width: 100%;
		.menu_bar_inner{
			text-align: center;
			margin: auto;
			width: auto;
			height: 70px;
			a{
				color: $white;
				text-transform: uppercase;
				padding: 0 20px;
				font-size: 25px;
				border-right: 1px solid $white;
				text-decoration: none;
				@include transition(500ms);
				&:hover{
					color: $yellow;
					text-decoration: none;
				}
				&:last-of-type{
					border-right:0px;
				}
				
			}
		}
	}
}
#home_top{
	background-image: url("../assets/img/champions-league.jpg");
}
#team_holder{
}
#players_holder{
	padding-top: 0;
	margin-top: 0;
	background-color: $bgColour2;
}
.player{
	text-align: center;
	cursor: pointer;
	.player_shirt{
		width: 90px;
		margin: auto;
		cursor: pointer;
		.cls-1{
			text-align: center;
			cursor: pointer;
		}
	}
	.player_name{
		cursor: pointer;
		margin-bottom: 0;
	}
	.player_position{
		cursor: pointer;
		color: $lightgrey;
		font-size: 10px;
	}
}

#player_info{
	position: fixed;
	left: 100vw;
	top: calc(50% - 150px);
	width: 300px;
	height: 300px;
	background-color: $white;
	padding: 5px;
	display: table;
	@include boxShadow();
	@include transition(500ms);
	.player_info_inner{
		display: table-cell;
		vertical-align: middle;
		padding: 15px;
		text-align: center;
	}
	&.on{
		left: calc(50% - 150px);
	}
	#player_info_close{
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		padding: 5px;
		i{
			font-size: 30px;
			cursor: pointer;
		}
	}
}
.leicester{
	.player_shirt{
		fill: #0053a0;
	}
}
.manchestercity{
	.player_shirt{
		fill: #6daee0;
	}
}
.arsenal{
	.player_shirt{
		fill: #d40026;
		
	}
}
.tottenham{
	.player_shirt{
		fill: #ffffff;
		.player_number{
			fill: #000000;
		}
	}
}
.barcelona{
	.player_shirt{
		fill: #a2214b;
		.player_number{
			fill: #00285e;
		}
	}
}
.realmadrid{
	.player_shirt{
		fill: #fff;
		.player_number{
			fill: #fff;
		}
	}
}
.athleticomadrid{
	.player_shirt{
		fill: #d42e12;
	}
}
.sevilla{
	.player_shirt{
		fill: #cb0f20;
	}
}
.villareal{
	.player_shirt{
		fill: #e70005;
	}
}
.bayernmunich{
	.player_shirt{
		fill: #ed1248;
	}
}
.juventus{
	.player_shirt{
		fill: #000;
	}
}
.benfica{
	.player_shirt{
		fill: #ee3124;
	}
}
.parisstgermain{
	.player_shirt{
		fill: #003462;
	}
}
.cskamoscow{
	.player_shirt{
		fill: #d91521;
	}
}
.borussiadortmund{
	.player_shirt{
		fill: #fde100;
		.player_number{
			fill:#000;
		}
	}
}
.fcporto{
	.player_shirt{
		fill: #007ec4;
	}
}
.napoli{
	.player_shirt{
		fill: #4b9bdb;
	}
}
.bayerleverkusen{
	.player_shirt{
		fill: #e32221;
	}
}
.basel{
	.player_shirt{
		fill: #ee3142;
	}
}
.dynamokyiv{
	.player_shirt{
		fill: #176fc1;
	}
}
.lyon{
	.player_shirt{
		fill: #003a80;
	}
}
.psveindhoven{
	.player_shirt{
		fill: #f00000;
	}
}
.sportingcp{
	.player_shirt{
		fill: #186e45;
	}
}
.clubbrugge{
	.player_shirt{
		fill: #018749;
		.player_number{
			fill: #000;
		}
	}
}
.borussiamonchengladbach{
	.player_shirt{
		fill: #000;
	}
}
.celtic{
	.player_shirt{
		fill: #018749;
	}
}
.monaco{
	.player_shirt{
		fill: #e61b23;
	}
}
.besiktas{
	.player_shirt{
		fill: #000;
	}
}
.legiawarsaw{
	.player_shirt{
		fill: #00a352;
	}
}
.dinamozagreb{
	.player_shirt{
		fill: #e92422;
	}
}
.ludogorets{
	.player_shirt{
		fill: #006738;
	}
}
.copenhagen{
	.player_shirt{
		fill: #375197;
	}
}
.rostov{
	.player_shirt{
		fill: #264796;
	}
}

.home-team-name, .home-team-name h1{
  font-size: 40px;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: -1px;
}

.home-team-name p{
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 400;
  font-variant: normal;
}

.offset-md-left{
  margin-left: 240px;
}

hr{
  border-bottom: 1px solid black;
}

section#social-media{
  width: 100%;
  height: 100vh;
  }

section#social-media h1{
  font-size: 40px;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: -1px;
  color: #ffffff;
}


.bg-img{
background-image: url(../assets/img/bottom.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
opacity: 0.8;
}

.ticker-container{
    background-color: $skysportsblue;
    left: 0;
    right: 0;
	height: 75px;
    overflow: hidden;
}

ul#webticker{
	font-size: 18px !important;
	color: #ffffff;
	font-weight: normal !important;
	li{
		a{
			color: $white;
			text-decoration: none;
			cursor: pointer;
			&:hover{
				cursor:pointer;
				text-decoration:none;
			}
		}
		@include transition(500ms);
		.space{
			padding: 0 50px;
		}
		&:hover{
			font-size: 22px !important;
			cursor: pointer;
		}
	}
}

// .ticker-spacer{
// 	padding-left: 40px !important;
// 	padding-right: 40px !important;
// }

.ticker-click{
	height: 40px;
	width: 100%;
	display: table;
	background-color: $indianred;
	color: #ffffff;
	.ticker-click-inner{
		display: table-cell;
		vertical-align: middle;
	}
}

.sslogo{
	background-color: $skysportsblue;
	display: table;
	height: 75px;
	.sslogo-inner{
		display: table-cell;
		vertical-align: top;
		width: 100%;
	img{	
		display: block;
		margin: auto;
		}
	}
}

.no-margin{
	margin-left: 0px;
	margin-right: 0px;
}

#ticker_row{
	position: relative;
	.right_gradient{
		position: absolute;
		right: 0;
		top: 0;
		height: 75px;
		width: 100px;
		z-index: 100;
		@include rightGradient();
	}
	.left_gradient{
		position: absolute;
		left: 8.2%;
		top: 0;
		height: 75px;
		width: 100px;
		z-index: 100;
		@include leftGradient();
	}
}
