@mixin transition($ms) {   
	-webkit-transition: all $ms ease;
    -moz-transition: all $ms ease;
    -o-transition: all $ms ease;
    transition: all $ms ease;
}
@mixin backgroundSize() {   
	-webkit-transition: background-size 500ms ease, background-color 500ms ease;
    -moz-transition: background-size 500ms ease, background-color 500ms ease;
    -o-transition: background-size 500ms ease, background-color 500ms ease;
    transition: background-size 500ms ease, background-color 500ms ease;
}
@mixin marginTop($ms) {
	-webkit-transition: height 500ms ease,  margin-top $ms ease;
    -moz-transition: height 500ms ease,  margin-top $ms ease;
    -o-transition: height 500ms ease,  margin-top $ms ease;
    transition: height 500ms ease,  margin-top $ms ease;
}

@mixin boxShadow(){
	box-shadow: 0px 0px 56px -6px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 0px 56px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 56px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 56px -6px rgba(0,0,0,0.75);
}

@mixin rightGradient(){
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#349886+0,349886+69&0+0,1+69 */
background: -moz-linear-gradient(left, rgba(52,152,134,0) 0%, rgba(52,152,134,1) 69%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(52,152,134,0) 0%,rgba(52,152,134,1) 69%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(52,152,134,0) 0%,rgba(52,152,134,1) 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00349886', endColorstr='#349886',GradientType=1 ); /* IE6-9 */
}

@mixin leftGradient(){
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#349886+31,349886+100&1+31,0+100 */
background: -moz-linear-gradient(left, rgba(52,152,134,1) 31%, rgba(52,152,134,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(52,152,134,1) 31%,rgba(52,152,134,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(52,152,134,1) 31%,rgba(52,152,134,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#349886', endColorstr='#00349886',GradientType=1 ); /* IE6-9 */
}
$font1: 'Poppins', sans-serif;
$title: 'Poppins', sans-serif;

$white: #ffffff;
$black: #000000;
$green: #52b258;
$lightgrey: #4b4c4d;
$lightergrey: #999;
$darkgrey: #2c2e2f;
$transgrey: rgba(37, 37, 37, 0.4);
$bgColour2: #f7f7f6;
$yellow: #f2c807;
$skysportsblue: #2e65b0;
$indianred:#D66060;
$darkgreen: #21333e;
$lighterdarkgreen: #253a47;
$nicelightblue: #314d5b;
$turq: #349886;
$darkturq: #3d8074;
$lightbg: #eeeeee;
$lightturq: #41bea8;

body{
	background-color: $white;
	color: $darkgrey;
	text-align: left;

}
.btn-primary{
	background-color: $lightturq;
	border: 1px solid $lightturq;
	cursor: pointer;
	outline: none !important;
	@include transition(500ms);
	&:hover,
	&:focus{
		background-color: $nicelightblue;
		border: 1px solid $nicelightblue;
	};
}
.margin-top{
	margin-top: 50px;
}
form{
	.form-row{
		margin: 10px auto;
		padding: 0;
		input{
			
		}
		textarea{
			height: 200px;
		}
		.btn{
			display: block;
			margin: auto;
			margin-right: 0;
		}
	}
}
#map{
	height: 300px;
	width: 100%;
}
.no-padding{
	padding: 0 !important;
}
#all_teams_holder{
	#all_teams{
		.team{
			color: $darkgrey;
			border-bottom: 1px solid $darkgrey;
			padding: 10px;
			text-align: center;
			position: relative;
			height: 200px;
			display: table;
			a{
				color: $darkgrey;
				text-decoration: none;
			}
			.team_inner{
				background-color: $white;
				position: relative;
				display: table-cell;
				vertical-align: middle;
				width: calc(100% - 10px);
				cursor: pointer;
				p{
					margin: 0;
				}
				p.team_name{
					
				}
				p.team_league{
					color: $lightgrey;
					font-size: 10px;
				}
				.team_badge{
					text-align: center;
					img{
						max-width: 100%;
					}
				}
				.more{
					display: table;
					text-align: center;
					width: 100%;
					cursor: pointer;
					.more_inner{
						display: table-cell;
						vertical-align: middle;
						cursor: pointer;
						i{
							font-size: 30px;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}
.Yellow_card{
	color:yellow;
}
.Red_card{
	color:red;
}
.top_image{
	width: 100%;
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: table;
	position: relative;
	.top_image_inner{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	#menu_bar{
		position: absolute;
		bottom: 0;
		left: 0;
		height: 70px;
		width: 100%;
		.menu_bar_inner{
			text-align: center;
			margin: auto;
			width: auto;
			height: 70px;
			a{
				color: $white;
				text-transform: uppercase;
				padding: 0 20px;
				font-size: 25px;
				border-right: 1px solid $white;
				text-decoration: none;
				@include transition(500ms);
				&:hover{
					color: $yellow;
					text-decoration: none;
				}
				&:last-of-type{
					border-right:0px;
				}
				
			}
		}
	}
}
#home_top{
	background-image: url("../assets/img/champions_header.jpg");
}
#team_holder{
}
#players_holder{
	padding-top: 0;
	margin-top: 0;
	background-color: $bgColour2;
}
.player{
	text-align: center;
	cursor: pointer;
	.player_shirt{
		width: 90px;
		margin: auto;
		cursor: pointer;
		.cls-1{
			text-align: center;
			cursor: pointer;
		}
	}
	.player_name{
		cursor: pointer;
		margin-bottom: 0;
	}
	.player_position{
		cursor: pointer;
		color: $lightgrey;
		font-size: 10px;
	}
}

#player_info{
	position: fixed;
	left: 100vw;
	top: calc(50% - 150px);
	width: 300px;
	height: 300px;
	background-color: $white;
	padding: 5px;
	display: table;
	@include boxShadow();
	@include transition(500ms);
	.player_info_inner{
		display: table-cell;
		vertical-align: middle;
		padding: 15px;
		text-align: center;
	}
	&.on{
		left: calc(50% - 150px);
	}
	#player_info_close{
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		padding: 5px;
		i{
			font-size: 30px;
			cursor: pointer;
		}
	}
}
.leicester{
	.player_shirt{
		fill: #0053a0;
	}
}
.manchestercity{
	.player_shirt{
		fill: #6daee0;
	}
}
.arsenal{
	.player_shirt{
		fill: #d40026;
		
	}
}
.tottenham{
	.player_shirt{
		fill: #ffffff;
		.player_number{
			fill: #000000;
		}
	}
}
.barcelona{
	.player_shirt{
		fill: #a2214b;
		.player_number{
			fill: #00285e;
		}
	}
}
.realmadrid{
	.player_shirt{
		fill: #fff;
		.player_number{
			fill: #fff;
		}
	}
}
.athleticomadrid{
	.player_shirt{
		fill: #d42e12;
	}
}
.sevilla{
	.player_shirt{
		fill: #cb0f20;
	}
}
.villareal{
	.player_shirt{
		fill: #e70005;
	}
}
.bayernmunich{
	.player_shirt{
		fill: #ed1248;
	}
}
.juventus{
	.player_shirt{
		fill: #000;
	}
}
.benfica{
	.player_shirt{
		fill: #ee3124;
	}
}
.parisstgermain{
	.player_shirt{
		fill: #003462;
	}
}
.cskamoscow{
	.player_shirt{
		fill: #d91521;
	}
}
.borussiadortmund{
	.player_shirt{
		fill: #fde100;
		.player_number{
			fill:#000;
		}
	}
}
.fcporto{
	.player_shirt{
		fill: #007ec4;
	}
}
.napoli{
	.player_shirt{
		fill: #4b9bdb;
	}
}
.bayerleverkusen{
	.player_shirt{
		fill: #e32221;
	}
}
.basel{
	.player_shirt{
		fill: #ee3142;
	}
}
.dynamokyiv{
	.player_shirt{
		fill: #176fc1;
	}
}
.lyon{
	.player_shirt{
		fill: #003a80;
	}
}
.psveindhoven{
	.player_shirt{
		fill: #f00000;
	}
}
.sportingcp{
	.player_shirt{
		fill: #186e45;
	}
}
.clubbrugge{
	.player_shirt{
		fill: #018749;
		.player_number{
			fill: #000;
		}
	}
}
.borussiamonchengladbach{
	.player_shirt{
		fill: #000;
	}
}
.celtic{
	.player_shirt{
		fill: #018749;
	}
}
.monaco{
	.player_shirt{
		fill: #e61b23;
	}
}
.besiktas{
	.player_shirt{
		fill: #000;
	}
}
.legiawarsaw{
	.player_shirt{
		fill: #00a352;
	}
}
.dinamozagreb{
	.player_shirt{
		fill: #e92422;
	}
}
.ludogorets{
	.player_shirt{
		fill: #006738;
	}
}
.copenhagen{
	.player_shirt{
		fill: #375197;
	}
}
.rostov{
	.player_shirt{
		fill: #264796;
	}
}

.home-team-name, .home-team-name h1{
  font-size: 40px;
  font-weight: 700;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: -1px;
}

.home-team-name p{
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 400;
  font-variant: normal;
}

.offset-md-left{
  margin-left: 240px;
}

hr{
  border-bottom: 1px solid black;
}

section#social-media{
  width: 100%;
  height: 100vh;
  }

section#social-media h1{
  font-size: 40px;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: -1px;
  color: #ffffff;
}


.bg-img{
/*background-image: url(../assets/img/bottom.jpg);
*/background-size: cover;
background-color: $lighterdarkgreen;
background-repeat: no-repeat;
background-position: center center;
opacity: 0.8;
}

.ticker-container{
    background-color: $turq;
    left: 0;
    right: 0;
	height: 75px;
    overflow: hidden;
}

ul#webticker{
	font-size: 18px !important;
	color: #ffffff;
	font-weight: normal !important;
	li{
		a{
			color: $white;
			text-decoration: none;
			cursor: pointer;
			&:hover{
				cursor:pointer;
				text-decoration:none;
			}
		}
		@include transition(500ms);
		.space{
			padding: 0 50px;
		}
		&:hover{
			font-size: 20px !important;
			cursor: pointer;
		}
	}
}

.ticker-click{
	height: 40px;
	width: 100%;
	display: table;
	background-color: $darkgreen;
	color: #ffffff;
	.ticker-click-inner{
		display: table-cell;
		vertical-align: middle;
	}
}

.sslogo{
	background-color: $turq;
	display: table;
	height: 75px;
	.sslogo-inner{
		display: table-cell;
		vertical-align: middle;
		height: 70%;
	img{	
		display: block;
		margin: auto;
		}
	}
}

.no-margin{
	margin-left: 0px;
	margin-right: 0px;
}

#ticker_row{
	position: relative;
	.right_gradient{
		position: absolute;
		right: 0;
		top: 0;
		height: 75px;
		width: 100px;
		z-index: 100;
		@include rightGradient();
	}
	.left_gradient{
		position: absolute;
		left: 8.2%;
		top: 0;
		height: 75px;
		width: 100px;
		z-index: 100;
		@include leftGradient();
	}
}

.match{
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	background-color: transparent;
	@include transition(500ms);
	.tournament-home,
	.tournament-away{
		text-transform: lowercase;;
	}
	.more_details{
		height: auto;
		max-height: 0px;
		overflow: hidden;
		opacity: 0;
		@include transition(500ms);
	}
	&.on{
		background-color: #f2f2f2;
		.more_details{
			margin-top: 40px;
			opacity: 1;
			max-height: 100%;
		}
	}
	&:hover{
		background-color: #f2f2f2;
	}
}

.bg-dark{
    display: inline-block;
    width: 100%;
	background-color: #f2f2f2;
}

#timeline{
	padding: 40px;
}
.timeline_inner{
	position: relative;
}
.timeline_circle{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border: 1px solid #2e65b0;
	margin: auto;
	display: block;
	background-color: #5f9df1;
	cursor: pointer;
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.timeline_circle:hover{
	background-color: #2e65b0;
}
.timeline_circle.on{
	background-color: #2e65b0;
	width: 36px;
	height: 36px;
	margin-top: -3px;
}
.timeline_circle.final{
	background-color: #fff;
}
.timeline_section{
	position: relative;
}
.timeline_line{
	width: 100%;
	height: 1px;
	top: 15px;
	position: absolute;
	border-bottom: 1px solid #2e65b0;
	
}
.stage_name{
	position: absolute;
	width: 100%;
	text-align: center;
	display: block;
	top: -30px;
	margin: 0;
	text-transform: uppercase;
}
.no-padding{
	padding: 0 !important;
}

.tournament-home, .home-goal, .away-goal, .tournament-away{
	font-size: 20px;
	font-weight: bolder;
	font-variant: small-caps;
}

.list-group-item{
background-color: $skysportsblue;
color:white;
}
footer{
	background-color: $darkgreen;
	ul{
		margin: 0;
	}
	li{
		list-style: none;
		margin: 0px 20px;
		display: inline-block;
		font-size: 20px;
		a{
			color: $white;
			text-decoration: none;
			i{
				cursor: pointer;
			&:hover{
				color: $yellow;
			}
			}
		}
	}
	.links{
		height: 50px;
		display: table;
		width: 100%;
		.links-inner{
			display: table-cell;
			vertical-align: middle;
		}
	}

}
.banner{
	background-image: url("../assets/img/cardiff.jpg");
	width: 100%;
	height: 80vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.final-match{
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, .7);
	color: $black;
	padding-top: 20px;
	padding-bottom: 20px;
	@include transition(500ms);
	p{
		text-align: justify;
		word-spacing: 1.5px;
	}
}
.dark-green-bg{
	background-color: $darkgreen;
} 
.sidebar{
	background-color: $lighterdarkgreen;
	color: $white;
	height: 100vh;
	min-height: 100vh;
	h3{
		margin: 10px 10px;
	}
}
.admin-user{
	padding: 10px 0;
	border-bottom: 1px solid $darkgreen;
}
.circle{
	border-radius: 100%;
	width: 40px;
	height: 40px;
	overflow: hidden;
	text-align: center;
	img{
		width: 100%;
	}
}
.admin-name{
	p{
		margin:0;
	}
	.small{
		font-size: 9px;
		margin:0;
	}
}
.admin-area{
	background-color: $nicelightblue;
}
app-admin-header{
	width: 100%;

}
.admin-header-top{
	background-color: $turq;
	h3{
		color: $white;
		margin: 12px 10px;
	}
	.btn{
		margin: 8px 0;
	}
}

.sidebar-option{
	background-color: transparent;
	@include transition(500ms);
	color: $white;
	border-bottom: 1px solid $darkgreen;
	p{
		margin:10px;
	}
	&:hover,
	&.on{
		background-color: $nicelightblue;
	}
	&:hover,
	&:active,
	&:visited,
	&:focus{
		text-decoration:none;
	}
}

.facebook_holder_1{
	background-color:$white;
	color: $turq;
	}
	
.facebook_holder{
	iframe{
		width:700px !important;
	}
}
#team_select{
	margin: 11px 0;
}
.light-bg{
	background-color: $lightbg;
}
.dark-turq-bg{
	background-color: $darkturq;
	border-bottom: 1px solid $darkgreen;
}


.facebook_holder_1{
	background-color:$white;
	color: $turq;
	}

.facebook_holder_2{
	background-color:$turq;
	}

.facebook_holder_3{
	background-color: $white;
	color: $turq;
	}

.cl-logo{
	path{
		fill: $white;
		@include transition(500ms);
	}
	polygon{
		fill: $white;
		@include transition(500ms);
	}
	&:hover{
	path{
		fill: $yellow;
	}
	polygon{
		fill: $yellow;
	}
}
	
}
.player_buttons{
	margin: 0 10px;
	i{
		cursor: pointer;
	}
	i.edit{
		color: $turq;
	}
	i.del{
		color: $indianred;
	}
}

#addPlayerButton{
	margin-top: 31px;
}