<div class="row dark-turq-bg">

	<div class="col-md-12">

		<div *ngIf="teams.team?.length > 0" class="row">

			<div class="col-md-12">

				<select (change)="getTeamData($event.target.value)" class="form-control" id="team_select">
					<option value="">Please Select a Team...</option>
					<option *ngFor="let team of teams.team" value="{{team.id}}">{{team.name}}</option>

				</select>

			</div>

		</div>

	</div>

</div>

<div class="admin-scroller">
	<div *ngIf="addPlayer === 'on'" class="container light-bg">

		<div (click)="closeAddPlayer()" class="close_form"><i class="fa fa-times"></i></div>

		<div class="row mt-3 pt-3 pb-3">

		<div class="col-md-12">

			<div class="row">

				<div class="col-md-12">

					<h3>Add New Player</h3>
					<p>Use the form below to create a new player</p>

				</div>

			</div>

			<form [formGroup]="add_player_form" (ngSubmit)="addNewPlayer($event)" class="row">
				
				<div class="form-group col-md-4">

					<label>First Name</label>
					<input formControlName="new_first_name" id="new_first_name" type="text" class="form-control" name="first_name" />

				</div>

				<div class="form-group col-md-4">

					<label>Last Name</label>
					<input formControlName="new_last_name" id="new_last_name" type="text" class="form-control" name="last_name" />

				</div>

				<div class="form-group col-md-4">

					<label>Date Of Birth</label>
					<input formControlName="new_date_of_birth" id="new_date_of_birth" type="date" class="form-control" name="date_of_birth" />

				</div>

				<div class="form-group col-md-4">

					<label>Position</label>
					<select formControlName="new_position" id="new_position" type="text" class="form-control" name="position">
						<option value="Forward">Forward</option>
						<option value="Midfielder">Midfielder</option>
						<option value="Defender">Defender</option>
						<option value="Goalkeeper">Goalkeeper</option>
					</select>

				</div>

				<div class="form-group col-md-4">

					<label>Shirt Number</label>
					<input formControlName="new_shirt_number" id="new_shirt_number" type="number" class="form-control" name="shirt_number" />

				</div>

				<div class="form-group col-md-4">

					<label>Nationality</label>
					<input formControlName="new_nationality" id="new_nationality" type="text" class="form-control" name="new_nationality" />

				</div>

				<div class="form-group col-md-12">

					<button type="Submit" id="addPlayerButton" class="btn btn-primary pull-right">Submit</button>

				</div>

			</form>
			</div>

		</div>

	</div>

	<div *ngIf="editPlayerFormOn === 'on'" class="container light-bg">

		<div (click)="closeEditPlayer()" class="close_form"><i class="fa fa-times"></i></div>

		<div class="row mt-3 pt-3 pb-3">

		<div class="col-md-12">

			<div class="row">

				<div class="col-md-12">

					<h3>Edit Player Details</h3>
					<p>Use the form below to edit the player's details</p>

				</div>

			</div>

			<form [formGroup]="edit_player_form" (ngSubmit)="editPlayer($event)" class="row">
				
				<input type="hidden" formControlName="update_id" name="update_id"/>

				<div class="form-group col-md-4">

					<label>First Name</label>
					<input formControlName="update_first_name" id="update_first_name" type="text" class="form-control" name="first_name" />

				</div>

				<div class="form-group col-md-4">

					<label>Last Name</label>
					<input formControlName="update_last_name" id="update_last_name" type="text" class="form-control" name="last_name" />

				</div>

				<div class="form-group col-md-4">

					<label>Date Of Birth</label>
					<input formControlName="update_date_of_birth" id="update_date_of_birth" type="date" class="form-control" name="date_of_birth" />

				</div>

				<div class="form-group col-md-4">

					<label>Position</label>
					<select formControlName="update_position" id="update_position" type="text" class="form-control" name="position">
						<option value="Forward">Forward</option>
						<option value="Midfielder">Midfielder</option>
						<option value="Defender">Defender</option>
						<option value="Goalkeeper">Goalkeeper</option>
					</select>

				</div>

				<div class="form-group col-md-4">

					<label>Shirt Number</label>
					<input formControlName="update_shirt_number" id="update_shirt_number" type="number" class="form-control" name="shirt_number" />

				</div>

				<div class="form-group col-md-4">

					<label>Nationality</label>
					<input formControlName="update_nationality" id="update_nationality" type="text" class="form-control" name="update_nationality" />

				</div>

				<div class="form-group col-md-12">

					<button type="Submit" id="updatePlayerButton" class="btn btn-primary pull-right">Submit</button>

				</div>

			</form>
			</div>

		</div>

	</div>

	<div class="container light-bg">

	<div *ngIf="team?.length > 0" class="row mt-3 pt-3 pb-3">

		<div class="col-md-12">

			<div class="row">

				<div class="col-md-6">

					<h3>Player Details</h3>
					<p>Use the form below to edit the team details</p>

				</div>

				<div class="col-md-6">

					<button (click)="addPlayerOn()" class="btn btn-primary pull-right"><i class="fa fa-plus-square-o"></i> &nbsp;Add Player</button>

				</div>

			</div>

			<div class="row mb-2">

				<div class="col-md-2">

					<b>First Name</b>

				</div>

				<div class="col-md-2">

					<b>Last Name</b>

				</div>

				<div class="col-md-2">

					<b>Date Of Birth</b>

				</div>

				<div class="col-md-2">

					<b>Position</b>

				</div>

				<div class="col-md-2 text-center">

					<b>Shirt Number</b>

				</div>

				<div class="col-md-2 text-center">

					<b>Edit / Delete</b>

				</div>

			</div>

			<div *ngFor="let player of players">

				<div class="row">

					<div class="col-md-2">

						<p>{{player.first_name}}</p>

					</div>

					<div class="col-md-2">

						<p>{{player.last_name}}</p>

					</div>

					<div class="col-md-2">

						<p>{{player.date_of_birth}}</p>

					</div>

					<div class="col-md-2">

						<p>{{player.position}}</p>

					</div>


					<div class="col-md-2 text-center">

						<p>{{player.shirt_number}}</p>

					</div>

					<div class="col-md-2 text-center">

						<span (click)="editPlayerOn(player)" class="player_buttons"><i class="fa fa-pencil-square-o edit"></i></span>
						<span (click)="deletePlayer(player)" class="player_buttons {{player.id}}"><i class="fa fa-trash del"></i></span>

					</div>


				</div>

			</div>

		</div>

	</div>

	</div>
</div>