<app-header></app-header>

<!--TIMELINE-->

<div class="container-fluid mt-5">
				
	<div id="timeline" class="">
		
		<div class="timeline_inner row">
			
			<div class="timeline_line"></div>
			
			<div class="timeline_1 timeline_section col-md-2 offset-md-1 no-padding">
				
				<p class="stage_name">Group Stage</p>
				
				<a routerLink="/tournament/group-stage"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_2 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Last 16</p>
				
				<a routerLink="/tournament/last-sixteen"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_3 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Quarter Finals</p>
				
				<a routerLink="/tournament/quarter-final"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_4 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Semi Final</p>
				
				<a routerLink="/tournament/semi-final"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_5 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Final</p>
				
				<a routerLink="/tournament/final">
				
					
				<div class="timeline_circle on"></div>
				<div class="pulse-circle"></div>
				

				</a>
				
			</div>
			
		</div>
		
	</div>
			
</div>

<!--TIMELINE END-->



<div class="banner">


<section id="matches" >

	<h1 class="text-center pt-5 pb-5" style="color:#ffffff;">The Final</h1>

	<div class="col-md-10 offset-md-1">

		<!-- MATCH 1 -->
		<div class="container final-match col-md-8 mb-5">

			<div class="row">

				<div class="col-md-2 tournament-badge offset-md-1">

					<img src="../assets/img/realmadrid.png" height="75px"/>

				</div>

				<div class="col-md-3 tournament-home mt-4 text-center">
					real madrid
				</div>


				<div class="col-md-3 tournament-away mt-4 text-center">
					juventus
				</div>

				<div class="col-md-2 tournament-badge text-center">
					<img src="../assets/img/juventus.png"  height="75px"/>
				</div>

			</div>

			<div class="row">

				<br>
				<div class="col-md-10 pt-5 offset-md-1">
				<p>Real Madrid will have the opportunity to keep their status as champions for another year, but Juventus will be trying to relive their glory from 1996 by finally reclaiming the title after 21 years.</p>

				<p>Real Madrid being the favourites, as they are current european champions as well as winning 5 of the 8 meetings between the two clubs</p>

				<p>Both teams showing dominance within their domestic leagues as well as within Europe over recent years, sets the stage for an exciting meeting in Cardiff!</p>

				<p>Who will prevail in this clash of titans?</p>
				</div>


			



			</div>

		</div>
	</div>
</section>

</div>
