

<!--TIMELINE-->

<div class="container-fluid mt-5">
				
	<div id="timeline" class="">
		
		<div class="timeline_inner row">
			
			<div class="timeline_line"></div>
			
			<div class="timeline_1 timeline_section col-md-2 offset-md-1 no-padding">
				
				<p class="stage_name">Group Stage</p>
				
				<a routerLink="/tournament/group-stage"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_2 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Last 16</p>
				
				<a routerLink="/tournament/last-sixteen"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_3 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Quarter Finals</p>
				
				<a routerLink="/tournament/quarter-final"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_4 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Semi Final</p>
				
				<a routerLink="/tournament/semi-final"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_5 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Final</p>
				
				<a routerLink="/tournament/final"><div class="timeline_circle on">
					
				</div></a>
				
			</div>
			
		</div>
		
	</div>
			
</div>

<!--TIMELINE END-->


<div class="col-md-10 offset-md-1">


	
	<h3 class="text-center mt-5 pb-5">Final</h3>



	<ul class="list-group">

					
		<!-- MATCH 1 -->
		<li class="list-group-item mb-5">
				<div class="row">


			<div class="col-md-2 tournament-badge offset-md-1">
			
				<img src="../assets/img/benfica.png" width="50%"/>

			</div>

			<div class="col-md-2 tournament-home mt-4 text-center">
				benfica
			</div>

			<div class="col-md-1 home-goal mt-4 text-center">
				1
			</div>

			<div class="col-md-1 away-goal mt-4 text-center">
				0
			</div>

			<div class="col-md-2 tournament-away mt-4 text-center">
				borussia dortmund
			</div>

			<div class="col-md-2 tournament-badge text-center">
				<img src="../assets/img/borussiadortmund.png" width="50%"/>		
			</div>

	

	</div>

		<div class="col-md-12"> 

			<div class="row mt-5">


						<div class="col-md-5 text-left">
							<p><i class="fa fa-futbol-o"></i> Mitroglou - 48</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Fejsa - 63</p>
						</div>

					
					<div class="col-md-2">
						<p class="text-center">First Leg</p>						
						<p class="text-center">19:45</p>
						<p class="text-center">14/02/2017</p>
						<p class="text-center">Nicola Rizzoli</p>
						<p class="text-center">Estádio do Sport Lisboa</p>
					</div>

					<div class="col-md-5 text-right">
							<p><i class="fa fa-square" style="color:yellow;"></i> Schmelzer - 74</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Pulišić - 85</p>
							<p><i class="fa fa-square" style="color:yellow;"></i> Bartra - 90</p>

					</div>

						
			</div>
		</div>

		</li>

	</ul>

</div>

