<!--TIMELINE-->
<div class="container-fluid mt-5">
				
	<div id="timeline" class="">
		
		<div class="timeline_inner row">
			
			<div class="timeline_line"></div>
			
			<div class="timeline_1 timeline_section col-md-2 offset-md-1 no-padding">
				
				<p class="stage_name">Group Stage</p>
				
				<a routerLink="/tournament/group-stage"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_2 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Last 16</p>
				
				<a routerLink="/tournament/last-sixteen"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_3 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Quarter Finals</p>
				
				<a routerLink="/tournament/quarter-final"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_4 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Semi Final</p>
				
				<a routerLink="/tournament/semi-final"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_5 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Final</p>
				
				<a routerLink="/tournament/final"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
		</div>
		
	</div>
			
</div>

<!--TIMELINE END-->
<div class="container">

	<div class="col-md-10 offset-md-1 mb-5">
	
	<p class="text-center mt-3"> <i class="fa fa-hand-o-up" aria-hidden="true"></i> Click on the timeline above to navigate through the stages of the current competition</p>
<br>
	<h1 class="mt-5">History of the Champions League Tournament</h1>

<p class="mt-5">Football's premier club competition, the European Champion Clubs' Cup was launched soon after UEFA's first Congress, held in Vienna on 2 March 1955, yet the competition was not a UEFA initiative.</p>

<p>Whereas many of UEFA's founder members were more interested in establishing a national team competition, the French sports daily L'Equipe and its then-editor Gabriel Hanot were championing the cause for a Europe-wide club competition. Hanot, together with colleague Jacques Ferran, designed a blueprint for a challenge tournament to be played on Wednesdays under floodlights.</p>


<p>The tournament initiated by L'Equipe did not stipulate that the participating teams had to be champions of their country, but they invited clubs who they considered had the most fan appeal. Representatives of 16 sides were invited to meetings on 2 and 3 April 1955, and the L'Equipe rules were unanimously approved.</p>

<p>UEFA – which had been founded in June 1954 – reacted by contacting the world body FIFA, and the latter's Executive Committee, meeting in London on 8 May 1955, authorised the new club competition under the condition that it was organised by UEFA and that the national associations concerned gave their consent to their clubs taking part. UEFA's Executive Committee accepted the conditions laid down by FIFA and agreed to run the competition at its meeting on 21 June 1955.</p>

<p>The major turning point in the tournament's evolution had come in the 1992/93 season when the UEFA Champions League, involving a group stage in addition to the traditional knockout elements, was officially inaugurated after a pilot round robin during the previous campaign. The popularity of the group phase means the competition has grown from eight to 32 teams with matches held on Tuesdays and Wednesdays across Europe.</p>


	</div>

</div>