

<!--TIMELINE-->

<div class="container-fluid mt-5">
				
	<div id="timeline" class="">
		
		<div class="timeline_inner row">
			
			<div class="timeline_line"></div>
			
			<div class="timeline_1 timeline_section col-md-2 offset-md-1 no-padding">
				
				<p class="stage_name">Group Stage</p>
				
				<a routerLink="/tournament/group-stage"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_2 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Last 16</p>
				
				<a routerLink="/tournament/last-sixteen"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_3 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Quarter Finals</p>
				
				<a routerLink="/tournament/quarter-final"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_4 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Semi Final</p>
				
				<a routerLink="/tournament/semi-final"><div class="timeline_circle">
					
				</div></a>
				
			</div>
			
			<div class="timeline_5 timeline_section col-md-2 no-padding">
				
				<p class="stage_name">Final</p>
				
				<a routerLink="/tournament/final"><div class="timeline_circle on">
					
				</div></a>
				
			</div>
			
		</div>
		
	</div>
			
</div>

<!--TIMELINE END-->

tournament