<div class="container mt-5 mb-5">

	<div class="row">

		<div class="col-md-12">

			<h3>Welcome to the admin section</h3>

			<p>Select a team to manage</p>

		</div>

	</div>

	<div *ngIf="teams.team?.length > 0" class="row">

		<div class="col-md-12">

			<select class="form-control" id="team_select">

				<option *ngFor="let team of teams.team" value="{{team.id}}">{{team.name}}</option>

			</select>

		</div>

	</div>

</div>

<div class="bg-dark">

	<div class="container mt-5 mb-5">

		<div class="row">

			<div class="col-md-6">

				<h3>Team Details</h3>
				<p>Use the form below to edit the team details</p>

				<form id="team_form">

					<div class="form-group">

						<label>Team Name</label>
						<input type="text" class="form-control" name="team_name" value="Leicester City" />

					</div>

					<div class="form-group">

						<label>Mascot Name</label>
						<input type="text" class="form-control" name="mascot" value="Frank the Fox" />

					</div>

					<div class="form-group">

						<label>Description</label>
						<textarea rows="7" class="form-control">Leicester City Football Club, also known as the Foxes, is an English professional football club based at the King Power Stadium in Leicester. They compete in the Premier League, England's top tier of football, and are the current reigning champions. Having been promoted as champions of the Football League Championship in 2013 14, this signalled a return to the top flight of English football after a decade away.</textarea>
					</div>

					<div class="form-group">

						<button type="Submit" class="btn btn-primary pull-right">Submit</button>

					</div>

				</form>

			</div>

			<div class="col-md-6">

				<h3>Stadium Details</h3>
				<p>Use the form below to edit the stadium details</p>

				<form id="stadium_form">

					<div class="form-group">

						<label>Stadium Name</label>
						<input type="text" class="form-control" name="stadium_name" value="King Power Stadium" />

					</div>

					<div class="form-group">

						<label>Capacity</label>
						<input type="number" class="form-control" name="capacity" value="32312" />

					</div>

					<div class="form-group">

						<label>Date Opened</label>
						<input type="date" class="form-control" name="stadium_name" value="2002-07-23" />

					</div>

					<div class="form-group">

						<button type="Submit" class="btn btn-primary pull-right">Submit</button>

					</div>

				</form>

			</div>

		</div>

	</div>

</div>

<div class="container mt-5 mb-5">

	<div class="row">

		<div class="col-md-12">

			<h3>Manager Details</h3>
			<p>Use the form below to edit the manager details</p>

			<form id="manager_form">

				<div class="row">

					<div class="col-md-6">

						<div class="form-group">

							<label>First Name</label>
							<input type="text" class="form-control" name="manager_first_name" value="Craig" />

						</div>

					</div>

					<div class="col-md-6">

						<div class="form-group">

							<label>Last Name</label>
							<input type="text" class="form-control" name="manager_last_name" value="Shakespeare" />

						</div>

					</div>

				</div>

				<div class="form-group">

					<label>Date of Birth</label>
					<input type="date" class="form-control" name="manager_dob" value="1986-10-26" />

				</div>				

				<div class="form-group">

					<button type="Submit" class="btn btn-primary pull-right">Submit</button>

				</div>

			</form>

		</div>

	</div>

</div>

<div class="bg-dark">

	<div class="container mt-5 mb-5">

		<div class="row">

			<div class="col-md-12">

				<form>
					
					<div class="form-group">

						<label>Date of Birth</label>

						<input type="date" class="form-control" name="manager_dob" value="1986-10-26" />

					</div>	

				</form>

			</div>

		</div>

	</div>

</div>